html, body {
  overflow-x: hidden!important;
  letter-spacing: 0!important;
}

.red {
  background: red;
}

.squad-logo {
  width: 200px;
}
section.intro h1 {
  font-size: 30px;
  letter-spacing: 1;
  font-weight: 500!important;
}

section.team h1 {
  /* font-size: 30px; */
}

.video-copy {
  width: 80%;
  margin-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.hero h1 {
  font-size: 40px;
  letter-spacing: 0;
}

section.intro {
   background: url('../img/community-people.png');
   background-repeat: no-repeat;
}

.intro p {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.up-btn {
  background: rgb(95, 179, 54);
}

.team h2 {
  font-size: 27px;
  font-weight: 400;
}

.learn-more-btn {
  font-size: 25px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 500;
}

.learn-more-btn:hover {
  background: white;
  color: green;
}

section.subscribe h1 {
  line-height: 1.4;
}





img#trending-icon {
  margin-top: -10px;
  }

.fa-globe {
  font-size: 80px;
  margin-top: 20px;
}



input.squad-ios {
    background: #5fb336!important;
    border-radius: 6px;
    width: 120px;
}

input.squad-ios {
  width: 100px!important;
  font-weight: 500;
}

h1.arrow {
  font-weight: 600!important;
}

.hero {
  /* border-bottom: .5px solid black; */
  /* background: url('../img/community-people.png'); */
}

.squad-video-img {
  width:80%;
  border-radius: 12px;
  cursor: pointer;
}

.features-link {
  color: #5fb336;
  font-weight: 500;
}

.hero p {
  font-size: 2vw;
  letter-spacing: 0;
  line-height: 1.3;
  font-weight: 500;
}

.hero .separator {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

.separator {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 80%;
  margin: 0 auto;
}


section.features h2 {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 23px;

}
section.features p {
  color: #444444;
  font-size: 16px;
}


.video-holder {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden!important;
}


.map {
  height:inherit;
  width: 100%;
  }


.icon {
  width: 120px;
  height: 120px;
}


.football-player {
  width: 50%;
  position: absolute;
  right: -20%;
  opacity: .1!important;
  top: 40px;
}


.field {
  position: absolute;
  right: 0;
  bottom:-400px;
  width: 250%!important;
  left: -400px!important;
  z-index: -20;
  margin: 0 auto;
  margin-left: -120px;
  overflow-x: hidden!important;
}

.social-btn {
  background: #fff;
  opacity: .7;
  border: 1px solid #5fb336;
  transition: 0;

}

.social-btn:hover{
  background: #5fb336;
  opacity: 1;
}

.social-btn i {
  color: black;
}

.social-btn:hover i {
  color: #fff;
}

.modal-container {
  height: 40%;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.modal-container iframe {
  margin-top: 150px;
}


.inner {
  padding-top: 50px;
}
