.gray {
  background: #f3f3f3;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Lato', 'Open San', sans-serif;
  text-rendering: optimizeLegibility;
}

.navbar li.nav-item {
  float: right;
  display: inline-block;
  width: 80px;
  font-weight: 300;
  text-align: center;
}

#hero {
  padding: 120px 50px;
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

#hero .hero-content h1, #hero .hero-content a {
  -webkit-animation: fadeInLeftHero .3s;
          animation: fadeInLeftHero .3s;
}

#hero h1 {
  font-weight: 300;
  text-transform: uppercase;
  max-width: 400px;
  line-height: 1.3;
  margin-bottom: 10px;
}

#hero h1 span {
  font-weight: 800;
}

#hero a.main-cta-btn {
  background: linear-gradient(-174deg, #48D727 0%, #31A217 100%);
  display: inline-block;
  padding: 10px 30px;
  color: white;
  font-size: 25px;
  letter-spacing: 1.1px;
  border-radius: 2px;
  font-weight: 600;
  text-transform: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

#hero a.main-cta-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#hero .hero-img {
  width: 325px !important;
  margin-top: -70px;
  margin-left: 20px;
  -webkit-animation: heroAnimation .25s;
          animation: heroAnimation .25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#hero .hero-bk {
  position: absolute;
  left: 0;
  top: 65px;
  right: 0;
  z-index: -30;
}

#value-props-copy {
  padding: 25px 0px 100px 0px;
  max-width: 70%;
  margin: 0 auto !important;
  text-align: right;
}

#value-props-copy h2 {
  display: block;
  width: 100%;
  text-transform: uppercase;
}

#value-props-copy h2:first-child {
  margin-bottom: 15px;
  font-weight: 300;
  text-transform: none;
}

#value-props-carousel {
  overflow-x: hidden;
  overflow-y: visible;
  height: 800px;
  width: 100%;
  display: block;
  position: relative;
}

#value-props-carousel .left-tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 1%;
  top: 50%;
  margin-top: 50px;
  z-index: 10;
}

#value-props-carousel .left-tabs a.props-carousel-btn {
  display: block;
  max-width: 330px;
  padding: 20px 0;
  margin: 5px 0;
  height: 150px;
  border: 1px solid #ccc;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

#value-props-carousel .left-tabs a.props-carousel-btn.active span.header {
  font-weight: 700;
  text-transform: uppercase;
}

#value-props-carousel .left-tabs a.props-carousel-btn.active span.content {
  font-weight: 600;
}

#value-props-carousel .left-tabs a.props-carousel-btn span.header {
  font-size: 28px;
  padding: 10px 30px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#value-props-carousel .left-tabs a.props-carousel-btn span.content {
  color: #333;
  padding-left: 30px;
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  opacity: .7;
}

#value-props-carousel .left-tabs a.props-carousel-btn.active {
  background: white;
  font-weight: 500;
  font-size: 20px;
  color: #31A217;
  border: 4px solid #31A217;
}

#value-props-carousel .right-cpu img {
  position: absolute;
  top: 0;
  opacity: .6;
}

#ratings {
  padding: 120px;
  background: #fff;
}

#ratings h1 {
  font-size: 90px;
  width: 120px;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 800;
  font-size: 105px;
  letter-spacing: -.69px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#ratings p {
  max-width: 220px;
  font-weight: 300;
  margin: 10px auto 0 auto;
  font-size: 20px;
  text-align: center;
  opacity: .6;
}

#ratings .ratings-star {
  position: absolute;
  width: 30px;
}

#ratings .separator {
  width: 30px;
  height: 5px;
  border-radius: 12px;
  background: #f3f3f3;
  margin: 10px auto 0 auto;
}

#testimonial {
  padding: 70px 0 160px 0;
  margin: 0;
  background-image: radial-gradient(50% 100%, #FFFFFF 0%, #F3F3F3 100%);
}

#testimonial #testimonial-card {
  margin: 0 auto;
}

#testimonial #testimonial-card .item {
  margin: 0 auto !important;
  text-align: center;
  padding: 60px 0;
  font-weight: 300;
}

#testimonial #testimonial-card .item h6 {
  font-size: 25px;
  font-weight: 500;
}

#testimonial #testimonial-card .item h6:before {
  position: absolute;
  content: '';
  width: 100px;
  height: 40px;
  background: red;
  right: 0;
  top: 5px;
  background: url("/assets/imgs/svgs/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#testimonial #testimonial-card .item .testimonial-img {
  border-radius: 120px;
  width: 100px;
  border: 1px solid #ccc;
  height: auto;
}

#testimonial #testimonial-card .item .separator {
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 10px 0 10px 0;
  opacity: .125;
}

#testimonial #testimonial-card .left-content {
  text-align: right;
}

#testimonial #testimonial-card .right-content {
  text-align: left;
}

#testimonial #carousel-controls-container {
  position: relative;
  height: 40px;
  width: 200px;
  margin: 0 auto;
}

#testimonial #carousel-controls-container .testimonial-img {
  -webkit-transition: 1s;
  transition: 1s;
  width: 30px;
  height: 30px;
  border-radius: 120px;
  border: 1px solid #cecece;
  margin: 10px 5px;
}

#testimonial #carousel-controls-container .carousel-indicators {
  top: -10px;
}

#testimonial #carousel-controls-container .carousel-indicators .active img {
  border-color: green;
  border: 1px solid #31A217;
  -webkit-box-shadow: 0px 1px 2px #000;
          box-shadow: 0px 1px 2px #000;
}

#testimonial .carousel-inner {
  margin: 0 auto !important;
}

#carousel-controls-container a {
  display: block;
}

#footer {
  height: 300px;
  background: black;
  color: white;
  position: relative;
  overflow: hidden;
}

#footer h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

#footer a {
  background: red;
}

#footer .main-cta-btn {
  background: linear-gradient(-174deg, #48D727 0%, #31A217 100%);
  display: block;
  padding: 10px 30px;
  color: white;
  font-size: 25px;
  letter-spacing: 1.1px;
  border-radius: 2px;
  font-weight: 600;
  margin: 10px auto;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#footer .main-cta-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer::before {
  z-index: 0;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  background: url("/assets/imgs/svgs/lock-pattern.svg");
  border-image-repeat: repeat !important;
}

#footer-links {
  position: relative;
  background: black;
}

#footer-links a {
  color: #ffffff;
  display: inline-block;
  padding: 10px 25px;
}

#footer-links span {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0px;
}

#footer-links span a {
  width: 40px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
}

#footer-links span a:hover img {
  opacity: 1;
}

#footer-links span img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

@media (max-width: 991px) {
  #hero h1 {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    position: relative;
    padding-top: 120px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 30px;
  }
  #hero img.hero-img {
    width: 130px !important;
    top: 0;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-animation: fadeInUp .35s;
            animation: fadeInUp .35s;
  }
  #hero .main-cta-btn {
    margin-bottom: 50px;
    margin-top: 15px;
  }
  #hero h1 {
    min-width: 80%;
    margin: 30px auto 10px auto;
    text-align: left;
  }
  h1 {
    font-size: 5.5vw;
  }
  h2 {
    font-size: 4vw;
  }
  #testimonial #testimonial-card .left-content {
    text-align: center;
  }
  #testimonial #testimonial-card .right-content {
    text-align: center;
  }
}

@media (max-width: 544px) {
  #hero h1 {
    min-width: 90%;
    max-width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */