/* TODO:
- Clean up animations
- Spinning Emoijs media queries
*/
.spin-1 {
  -webkit-animation: rot 5s infinite linear;
          animation: rot 5s infinite linear;
}

.spin-2 {
  -webkit-animation: rot2 5s infinite linear;
          animation: rot2 5s infinite linear;
}

.spin-3 {
  -webkit-animation: rot3 5s infinite linear;
          animation: rot3 5s infinite linear;
}

.spin-4 {
  -webkit-animation: rot4 5s infinite linear;
          animation: rot4 5s infinite linear;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    /*		transform: translateY(100px);*/
  }
  100% {
    opacity: 1;
    /*		transform: translateY(0);*/
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /*		transform: translateY(100px);*/
  }
  100% {
    opacity: 1;
    /*		transform: translateY(0);*/
  }
}

@-webkit-keyframes fadeInUpSocialIcons {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px) scale(0.005);
            transform: translateY(5px) scale(0.005);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes fadeInUpSocialIcons {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px) scale(0.005);
            transform: translateY(5px) scale(0.005);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */
@-webkit-keyframes waveHand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  30% {
    -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes waveHand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  20% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  30% {
    -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
  }
  40% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes smileyNod {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  25% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  75% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes smileyNod {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  25% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  50% {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  75% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes eyeAnim {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes eyeAnim {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bottomTeethAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
  }
}

@keyframes bottomTeethAnim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
  }
}

@-webkit-keyframes emojiPulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  70% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes emojiPulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  35% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  70% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes newEmojiShake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes newEmojiShake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  75% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes herobuttonAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes herobuttonAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heroBackgroundAnim {
  0% {
    /*		opacity: 0;*/
    -webkit-transform: translateY(200%) scale(5);
            transform: translateY(200%) scale(5);
  }
  80% {
    /*		opacity: 0.8;*/
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    /*		opacity: 0.5;*/
    -webkit-transform: translateY(5%) scale(1.2);
            transform: translateY(5%) scale(1.2);
  }
}

@keyframes heroBackgroundAnim {
  0% {
    /*		opacity: 0;*/
    -webkit-transform: translateY(200%) scale(5);
            transform: translateY(200%) scale(5);
  }
  80% {
    /*		opacity: 0.8;*/
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  100% {
    /*		opacity: 0.5;*/
    -webkit-transform: translateY(5%) scale(1.2);
            transform: translateY(5%) scale(1.2);
  }
}

@-webkit-keyframes rot {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(-270deg) translate(-100px) rotate(0deg);
            transform: rotate(-270deg) translate(-100px) rotate(0deg);
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(90deg) translate(-100px) rotate(0deg);
            transform: rotate(90deg) translate(-100px) rotate(0deg);
    opacity: 0.5;
  }
}

@keyframes rot {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(-270deg) translate(-100px) rotate(0deg);
            transform: rotate(-270deg) translate(-100px) rotate(0deg);
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(90deg) translate(-100px) rotate(0deg);
            transform: rotate(90deg) translate(-100px) rotate(0deg);
    opacity: 0.5;
  }
}

@-webkit-keyframes rot2 {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(180deg) translate(-100px) rotate(0deg);
            transform: rotate(180deg) translate(-100px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(540deg) translate(-100px) rotate(0deg);
            transform: rotate(540deg) translate(-100px) rotate(0deg);
  }
}

@keyframes rot2 {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(180deg) translate(-100px) rotate(0deg);
            transform: rotate(180deg) translate(-100px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(540deg) translate(-100px) rotate(0deg);
            transform: rotate(540deg) translate(-100px) rotate(0deg);
  }
}

@-webkit-keyframes rot3 {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) translate(-100px) rotate(0deg);
            transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(360deg) translate(-100px) rotate(-360deg);
            transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}

@keyframes rot3 {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(0deg) translate(-100px) rotate(0deg);
            transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(360deg) translate(-100px) rotate(-360deg);
            transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}

@-webkit-keyframes rot4 {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(270deg) translate(-100px) rotate(360deg);
            transform: rotate(270deg) translate(-100px) rotate(360deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(630deg) translate(-100px) rotate(360deg);
            transform: rotate(630deg) translate(-100px) rotate(360deg);
  }
}

@keyframes rot4 {
  0% {
    opacity: 0.2;
    -webkit-transform: rotate(270deg) translate(-100px) rotate(360deg);
            transform: rotate(270deg) translate(-100px) rotate(360deg);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
    -webkit-transform: rotate(630deg) translate(-100px) rotate(360deg);
            transform: rotate(630deg) translate(-100px) rotate(360deg);
  }
}

@-webkit-keyframes guyEntry {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(200px);
            transform: scale(1) translateY(200px);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes guyEntry {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) translateY(200px);
            transform: scale(1) translateY(200px);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes seagullEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300%) scale(0.3);
            transform: translateY(300%) scale(0.3);
  }
  20% {
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes seagullEntry {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300%) scale(0.3);
            transform: translateY(300%) scale(0.3);
  }
  20% {
    opacity: 0.1;
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes seagullOneEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(150%) translateY(100%);
            transform: translateX(150%) translateY(100%);
  }
}

@keyframes seagullOneEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(150%) translateY(100%);
            transform: translateX(150%) translateY(100%);
  }
}

@-webkit-keyframes seagullTwoEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%) translateY(160%);
            transform: translateX(120%) translateY(160%);
  }
}

@keyframes seagullTwoEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%) translateY(160%);
            transform: translateX(120%) translateY(160%);
  }
}

@keyframes seagullTwoEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(120%) translateY(160%);
            transform: translateX(120%) translateY(160%);
  }
}

@-webkit-keyframes seagullThreeEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%) translateY(40%);
            transform: translateX(-60%) translateY(40%);
  }
}

@keyframes seagullThreeEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%) translateY(40%);
            transform: translateX(-60%) translateY(40%);
  }
}

@-webkit-keyframes seagullFourEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-550%) translateY(250%);
            transform: translateX(-550%) translateY(250%);
  }
}

@keyframes seagullFourEase {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-550%) translateY(250%);
            transform: translateX(-550%) translateY(250%);
  }
}

@-webkit-keyframes ltbluegradientAnim {
  from {
    -webkit-clip-path: polygon(0 500%, 0% 100%, 0% 100%);
            clip-path: polygon(0 500%, 0% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 10%, 0% 100%, 100% 100%);
            clip-path: polygon(0 10%, 0% 100%, 100% 100%);
  }
}

@keyframes ltbluegradientAnim {
  from {
    -webkit-clip-path: polygon(0 500%, 0% 100%, 0% 100%);
            clip-path: polygon(0 500%, 0% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 10%, 0% 100%, 100% 100%);
            clip-path: polygon(0 10%, 0% 100%, 100% 100%);
  }
}

@-webkit-keyframes blue-gradient-animation {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes blue-gradient-animation {
  0% {
    background-position: right;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@-webkit-keyframes ltbluegradientAnimBottom {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% -100%, 0% -100%);
            clip-path: polygon(0% 0%, 0% -100%, 0% -100%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }
}

@keyframes ltbluegradientAnimBottom {
  from {
    -webkit-clip-path: polygon(0% 0%, 0% -100%, 0% -100%);
            clip-path: polygon(0% 0%, 0% -100%, 0% -100%);
  }
  to {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
            clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }
}

@-webkit-keyframes eyebrowRaise {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes eyebrowRaise {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes wowSpin {
  from {
    -webkit-transform: rotate(14400deg) scale(1);
            transform: rotate(14400deg) scale(1);
  }
  to {
    -webkit-transform: rotate(0deg) scale(20);
            transform: rotate(0deg) scale(20);
  }
}

@keyframes wowSpin {
  from {
    -webkit-transform: rotate(14400deg) scale(1);
            transform: rotate(14400deg) scale(1);
  }
  to {
    -webkit-transform: rotate(0deg) scale(20);
            transform: rotate(0deg) scale(20);
  }
}
/*# sourceMappingURL=animations.css.map */