$base-transition: 0.5s;
$primary-color: #E6FA5C;
$primary-gradient: linear-gradient(95.08deg, #D6F15B 11.05%, #69B75D 60.58%);
$black: #121212;
$base-border-radius: 15px;

$medium-breakpoint: 991px;
$small-breakpoint: 448px;

$random-number: round(random() * 100)+1;

@mixin random-number {
  $random: round(random() * 5);
  --random-number: #{$random};
}

html {
  background: inherit;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

section {
  height: 50vh;
  margin: 0 auto;
  height: 100%;

  .content {
    @media(max-width: $medium-breakpoint) {
      flex-direction: column;
      height: auto;
    }
  }

  p {
    line-height: 1.75;

    @media(max-width: $medium-breakpoint) {
      font-size: 1em;
    }
  }
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  margin: 10px 0;

  @media(max-width: $medium-breakpoint) {
    font-size: 2em;
  }
}

.container {
  width: clamp(90%, 100px, 1200px);
  margin: 0 auto;
  // height: 700px;
  display: flex;

  @media(max-width: $medium-breakpoint) {
    flex-direction: column;
  }
}

.content__cta {
  background: $primary-gradient;
  border-radius: 40px;
  box-shadow: 0 2px 4px $black;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  padding: 10px 20px;
  text-decoration: none;
  width: 220px;
  margin: 0;

  background: linear-gradient(92.98deg, #D6F15B 21.64%, #69B75D 189.75%);
  box-shadow: 0px 1px 1px #000000;
  transition: $base-transition;

  &:hover {
    transform: scale(1.025);
    background: linear-gradient(92.98deg, #D6F15B 121.64%, #69B75D 309.75%);
  }

  @media(max-width: $medium-breakpoint) {
    margin: 0 auto;
  }

  &--alt {
    background: white;
    color: $black;
    box-shadow: 0px 1px 1px #8ea03d;
    margin-left: 20px;

    @media(max-width: $medium-breakpoint) {
      margin-left: 0;
    }
  }
}


// SAFARI Only Media Query
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (not (-apple-color-filter: none)) {

    #left-half,
    #right-half {
      display: none;
    }
  }
}

.content__cta--emoji {
  color: $primary-gradient;
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  scale: 1.25;
}

.content__left--button-container {
  display: flex;

  @media(max-width: $medium-breakpoint) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {

    @media(max-width: $medium-breakpoint) {
      margin: 10px 0;
    }
  }
}

.profile-container {
  cursor: pointer;

  .profile-img {
    position: absolute;
    width: 200px;
    border-radius: 150px;
    height: auto;
    opacity: 0;

    animation: profileImageEntrance $base-transition $base-transition * 1.5 ease-out forwards;

    @media(max-width: $medium-breakpoint) {
      width: 80%;
      height: auto;
      margin: 20px auto;
    }
  }
}

.section__gradient {
  background: linear-gradient(135deg, #7650F2, rgba(255, 0, 0, 0) 25%), linear-gradient(45deg, #59EBF9, rgba(0, 255, 0, 0) 70.1%),
    linear-gradient(180deg, #EC6351, rgba(0, 0, 255, 0) 50.71%),
    linear-gradient(270deg, #7E82ED, rgba(0, 0, 255, 0) 80.71%);
}

.shape-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: inherit;
  width: inherit;

  svg {
    position: absolute;

    @media(max-width: $medium-breakpoint) {
      left: 0;
      right: 0;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      z-index: -1;
    }
  }

  .shape__full {
    transition: $base-transition;

    path {
      fill: url(#gradient);
    }
  }

  #left-half,
  #right-half,
  #shape__full--path {
    // transform: scale(0.5);
    transform-origin: center;
    transition: $base-transition;
  }

  .shape__halves {
    // transform: rotate(-45deg);
    transform: scale(0.2);
    animation: rotateEntrance $base-transition $base-transition * 2 ease-out forwards;
  }

  #left-half {
    // rotate: (135deg);
    // translate: 500px 500px;
    // opacity: 0;
    // transform: translateY(500px);
    transform: scale(0);
    animation: leftHalfEntrance $base-transition $base-transition ease-out forwards;
  }

  #right-half {
    // rotate: (135deg);
    // translate: -500px -500px;
    // opacity: 0;
    // transform: translateY(-500px);
    // transform: scale(0);
    transform: scale(0);
    animation: rightHalfEntrance $base-transition $base-transition ease-out forwards;
    // z-index: 1;
  }

  #shape__full--path {
    // opacity: 0;
    transform: scale(0.4);
    animation: shapeAppear $base-transition * 2 ease-out forwards, shapeFullRotate $base-transition * 70 $base-transition * 2 linear infinite;
  }
}

.section {
  &__hero {
    z-index: 5;

    .container {
      height: 100vh;

      @media(max-width: $medium-breakpoint) {
        height: 100%;
        padding: 50px 0;
      }
    }

    .content {
      display: contents;
      position: relative;
      z-index: 5;
    }

    .content__left {
      order: 0;
      opacity: 0;

      @media(max-width: $medium-breakpoint) {
        order: 1;
        margin-top: 30px;
        transition-delay: 1s;
        text-align: center;
        width: 100%;
        align-items: center;
        transition-delay: 0;
      }

      .wrench-button {
        width: 30px;
        height: 30px;
        border: 1px solid #f3f3f3;
        background: #fff;
        padding: 2px;
        position: relative;
        top: 3px;
        border-radius: 120px;
        transform: translate3d(0, 0, 0)
      }

      // #cloud-main,
      // #cloud-secondary,
      // #cloud-small {
      //   opacity: 0;
      //   animation: cloudAppears $base-transition * 5 $base-transition * 2 ease-out forwards;
      // }

      .content__cta--alt {
        &:hover {

          #cloud-main,
          #cloud-secondary,
          #cloud-small {
            // opacity: 0;
            animation: cloudLeaves $base-transition ease-out forwards;
          }

          #art-background--full {
            rect {
              fill: $primary-color;
            }
          }
        }
      }

      #sun--full {
        transform-origin: center;

        circle {
          opacity: 0;
          animation: sunRises $base-transition $base-transition * 5 ease-out forwards;
        }
      }

      #sun-rays {
        opacity: 0;
        animation: sunRays $base-transition * 3 $base-transition * 5 linear infinite;
      }

      .art-button {
        width: 30px;
        height: 30px;
      }
    }

    .art-button {
      margin-left: 10px;
      position: relative;
      top: 5px;
    }

    .content__cta--wrench {
      svg {
        will-change: rotate;
        transition: $base-transition * 3;
        margin-left: 10px;
      }

      &:hover {
        svg {
          animation: wrenchLeftHover $base-transition * 3 linear infinite;
        }
      }
    }

    .content__right {
      width: 50%;
      justify-content: center;
      display: flex;
      height: inherit;

      @media(max-width: $medium-breakpoint) {
        width: 100%;
        transition-delay: 0;
      }
    }

    p {
      margin: 10px 0;
      margin-bottom: 30px;
    }

    .profile-img {
      @media(max-width: $medium-breakpoint) {
        max-width: 50%;
        width: 35%;
      }
    }

    &.animate {
      .content__left {
        animation: contentLeftAppear $base-transition $base-transition ease-out forwards;
      }

      #wrench--left {
        opacity: 0;
        animation: wrenchAnimateLeft $base-transition $base-transition * 2 ease-out forwards;
      }

      #wrench--right {
        opacity: 0;
        animation: wrenchAnimateRight $base-transition $base-transition * 3 ease-out forwards;
      }

      #cloud-main,
      #cloud-secondary,
      #cloud-small {
        opacity: 0;
        animation: cloudAppears $base-transition * 5 $base-transition * 2 ease-out forwards;
      }
    }
  }

  &__portfolio {
    background-repeat: no-repeat;
    padding-top: 30px;
    // padding-bottom: 60px;
    position: relative;
    height: 90vh;
    transition: $base-transition;
    transition-delay: $base-transition * 0.25;
    z-index: 3;

    .container {
      padding: 20px 0;
      margin-bottom: 40px;
      position: relative;
      z-index: 5;
    }

    .content {
      display: flex;

      @media(max-width: $medium-breakpoint) {
        padding-bottom: 80px;
      }
    }

    .content__left {
      opacity: 0;
      width: 50%;
      padding-right: 20px;
      // min-width: 70%;

      @media(max-width: $medium-breakpoint) {
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        text-align: center;
      }
    }

    .portfolio__alien {
      width: 150px;
      transform: unset !important;
      animation: portfolioAlienEntrance $base-transition * 10 $base-transition ease-in-out forwards;

      &.activated {
        animation: portfolioAlienDrive $base-transition * 3 ease-out forwards;
      }

      // #ufo-alien--full {
      //   width: 100px;
      // }
    }

    .content__right {
      width: 50%;
      justify-content: flex-end;
      display: flex;
      height: inherit;
      z-index: 2 !important;

      @media(max-width: $medium-breakpoint) {
        width: 100%;
        justify-content: center;
      }

      .column__left,
      .column__right {
        translate: 0 0;
        transition: $base-transition $base-transition * 0.5;
      }
    }

    .background--portfolio {
      position: absolute;
      transform: translateY(-500px) scale(2);
      width: 100%;
      z-index: 0;
      overflow: hidden;
      transition: $base-transition;
      transition-delay: $base-transition * 0.25;

      @media(max-width: $medium-breakpoint) {
        display: inherit;
      }

      path {
        fill: url(#portfolio-gradient);
        transition: $base-transition * 2;
        scale: 4;
      }
    }

    &.animate {
      .background--portfolio {

        @media(max-width: $medium-breakpoint) {
          transform: translateY(-100px);
        }

        path {
          transform: translateX(-5000px) scale(2);
          transition: $base-transition;
          position: absolute;
        }
      }

      .content__left {
        animation: contentLeftAppear $base-transition $base-transition ease-out forwards;
      }

      .content__right {
        margin-bottom: 40px;
      }

      .column__left {
        translate: 0 25px;
      }

      .column__right {
        translate: 0 -25px;
      }
    }
  }

  &__about-me {
    position: relative;
    height: 100%;
    min-height: 600px;
    display: flex;
    padding: 100px 0;
    z-index: 5;
    justify-content: center;
    align-items: center;

    @media(max-width: $medium-breakpoint) {
      padding: 100px 0;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      @media(max-width: $medium-breakpoint) {
        display: block;
      }
    }

    h1 {
      letter-spacing: -0.03em;
      background: #D6F15B;
      background: linear-gradient(to right, #D6F15B 0%, #69B75D 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      // background: -webkit-linear-gradient(to right, #D6F15B 0%, #69B75D 100%);
      // background: -moz-linear-gradient(to right, #D6F15B 0%, #69B75D 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      @media(max-width: $medium-breakpoint) {
        text-align: center;
      }

      &::before {
        content: "";
      }
    }

    .about__img {
      width: 200px;
      height: auto;
      border-radius: 100%;

      @media(max-width: $medium-breakpoint) {
        width: 200px;
      }
    }

    .container {
      position: absolute;
      right: 0;
      left: 0;
    }

    #base-angled-background {
      fill: #F4F9FB;
      transition: $base-transition;
    }

    .svg__about--background {
      position: absolute;
      z-index: -1;
      width: 100%;
      scale: 1.5;
      height: auto;
      transition: $base-transition;

      @media(max-width: $medium-breakpoint) {
        scale: 3;
        margin-top: 180px;
        translate: 54%;
      }

      rect {
        opacity: 0;
        transition: $base-transition * 2;
      }

      &.activated {
        transition: $base-transition;

        .moon--behind {
          transition: $base-transition;

          circle {
            fill: #69B75D;
            transition: $base-transition;
            opacity: 1;
            scale: 1;
          }
        }

        .svg__about--ufo-back {
          display: none;
        }

        #base-angled-background {
          opacity: inherit;
        }

        .svg__about--ufo-front {
          display: block;
          animation: frontUFOLeave $base-transition * 5 ease-out forwards;
        }
      }
    }

    .about__img {
      max-width: 520px;
      height: auto;
    }

    .content__left {
      opacity: 0;
      animation: appear $base-transition $base-transition ease-out forwards;
      height: inherit;
      margin-bottom: 30px;
    }

    .svg__about--ufo-front {
      display: none;
    }

    .moon--behind {
      circle {
        opacity: .25;
        scale: 1;
        translate: 100px;
        transition: $base-transition * 10;
      }
    }

    .about-planet {
      opacity: 0;
    }

    &.animate {
      #base-angled-background {
        opacity: inherit;
      }

      .svg__about--background {

        rect {
          opacity: 1;
          fill: #1E1E1E;
        }
      }

      .content__left {
        animation: contentLeftAppear $base-transition $base-transition * 0.5 ease-out forwards;
      }


      .about-planet {
        animation: wholePlanetRotate $base-transition * 7 ease-out forwards;

        #planet--full {
          // animation: planetEntrance $base-transition * 5 ease-out forwards;

          circle {
            transform-origin: center;
            animation: planetRotate $base-transition * 10 linear infinite;
          }
        }

        #ring-1,
        #ring-2,
        #ring-3,
        #ring-4,
        #ring-5 {
          path {
            transform-origin: center;
          }
        }

        #ring-1 {
          path {
            opacity: 0;
            animation: ringOneAnimation $base-transition * 2 $base-transition ease-out forwards;
          }
        }

        #ring-2 {
          path {
            opacity: 0;
            animation: ringTwoAnimation $base-transition * 2 $base-transition * 2 ease-out forwards;
          }
        }

        #ring-3 {
          path {
            opacity: 0;
            animation: ringThreeAnimation $base-transition * 2 $base-transition * 3 ease-out forwards;
          }
        }

        #ring-4 {
          path {
            opacity: 0;
            animation: ringFourAnimation $base-transition * 2 $base-transition * 4 ease-out forwards;
          }
        }

        #ring-5 {
          path {
            opacity: 0;
            animation: ringFiveAnimation $base-transition * 2 $base-transition * 5 ease-out forwards;
          }
        }
      }

    }
  }

  &__footer {
    transition: $base-transition;
    transition-delay: $base-transition;
    height: auto;
    background: black;
    z-index: 10;
    padding: 50px 0;
    overflow: hidden;

    .container {
      flex-direction: column;
      height: inherit;
      color: white;
    }

    .content {
      text-align: center;
    }

    h1,
    p {
      text-align: center;
    }

    p {
      margin: 20px auto;
      margin-bottom: 30px;
      text-align: left;
      max-width: 600px;

      @media(max-width: $medium-breakpoint) {
        text-align: center;
      }
    }

    #star-glow,
    #star-main,
    #star-sub {
      transform-origin: center;
    }

    .stars__container {
      position: absolute;
      width: 100%;
      right: 0;
      top: 0;
      opacity: 0;
      z-index: 0;
      opacity: 1;

      svg {
        animation: starRotate $base-transition * 8 $base-transition * 2 linear infinite;
      }

      #star-glow {
        animation: starGlow $base-transition * 7 $base-transition ease-in-out infinite;
      }

      #star-main {
        animation: starMainAnimation $base-transition * 5 $base-transition ease-in-out infinite;
      }

      #star-sub {
        animation: starSubAnimation $base-transition * 10 $base-transition ease-in-out infinite;
      }
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
      animation: canvasFooterAppear $base-transition * 5 $base-transition * 5 ease-out forwards;
    }

    .moon-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;

      svg {
        cursor: pointer;
      }
    }

    .moon--full {
      height: 100%;
      width: 150px;
      margin: 10px 0;
      scale: 0;
      transition-timing-function: ease-out;
      opacity: 0;
      cursor: pointer !important;
    }

    .ufo--moon {
      // scale: 0;
      // transition: $base-transition;
      scale: 0.15;
      translate: 1000px 0;

      path {
        fill: #101010;
        // scale: 0;
      }

      #bottom-hole--grey {
        fill: #E6FA5C50;
      }

      #glass-top--coupling {
        fill: red;
      }
    }

    #ship--glow {
      will-change: opacity;
      animation: shipGlowAnimation $base-transition * 5 $base-transition * 2 ease-in-out infinite;
    }

    #glass-top {
      path {
        fill: $primary-color;
      }
    }

    .social__container {
      padding: 0;
      // translate: 0 -150px;
      opacity: 0;

      a {
        text-decoration: none;
      }

      svg {
        margin: 5px 10px;
        height: auto;
        width: 45px;
        transition: $base-transition * 0.5;
        cursor: pointer;
        opacity: 0;

        animation: appear $base-transition $base-transition ease-out forwards;

        .icon-path {
          transform-origin: center;
          transition: $base-transition;
          fill: #D6F15B77;
          transform: scale(0.85);
          scale: 0.85;
        }

        &:hover {
          scale: 1.15;
          transform: scale(1.15);

          .icon-path {

            transition-delay: $base-transition * 0.25;
            transform: scale(1);
            // scale: 1;
            fill: #D6F15B;
          }
        }
      }
    }

    .separator {
      height: 1px;
      width: 90%;
      max-width: 600px;
      margin: 20px auto 30px;
      background: $primary-gradient;
      // background: red;
      opacity: 0;
    }

    [class^="star-"] {
      opacity: 0;
    }

    &.animate {
      .moon--full {
        animation: moonAnimate $base-transition * 35 ease-in-out forwards;
      }

      .social__container {
        animation: socialContainerAnimate $base-transition * 2 ease-out forwards;

        svg {
          animation: socialContainerAnimate $base-transition * 2 ease-out forwards;
        }
      }

      .ufo--moon {
        will-change: translate;
        animation: footerUFOEntrance $base-transition * 20 $base-transition * 2 ease-out forwards;
        scale: 0.15;

        path {
          fill: inherit;
        }
      }

      [class^="star-"] {
        animation: starAppear $base-transition * 5 ease-out forwards;
      }

      .star-one {
        animation-delay: $base-transition;
      }

      .star-two {
        animation-delay: $base-transition * 2;
      }

      .star-three {
        animation-delay: $base-transition * 4;
      }

      .star-four {
        animation-delay: $base-transition * 6;
      }

      .star-five {
        animation-delay: $base-transition * 8;
      }

      .star-six {
        animation-delay: $base-transition * 10;
      }

      .separator {
        animation: separatorAnimate $base-transition * 2 $base-transition * 1.5 ease-out forwards;
      }

      .icon-path {
        opacity: 0;
        animation: iconPathsAnimate $base-transition * 2 $base-transition * 2 ease-out forwards;
      }
    }
  }
}




.section__hero,
.section__about,
.section__portfolio,
.section__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  // z-index: 1;

  @media(max-width: $medium-breakpoint) {
    height: 100%;
    padding: 50px 0;
  }
}

.content__left,
.content__right {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  position: relative;
  transition: $base-transition;

  @media(max-width: $medium-breakpoint) {
    width: 100%;
    height: auto;
    // margin: 20px auto;
  }
}

.content__left {
  margin-right: 20px;
  flex-direction: column;
  align-items: flex-start;

  @media(max-width: $medium-breakpoint) {
    // width: 100%;
    // height: auto;
    // margin: 20px auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.content__right {
  margin-left: 20px;

  @media(max-width: $medium-breakpoint) {
    width: 100%;
    height: auto;
    // margin: 20px auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.past-work {

  .column__left,
  .column__right {

    img {
      cursor: pointer;
      transition: $base-transition;
    }
  }

  a {
    text-decoration: none;
    color: $black;
  }
}

.past-work {
  .content__left {
    p {
      padding-right: 40px;

      @media(max-width: $medium-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }
}

.card__project {
  margin: 10px;
  transition: $base-transition;

  @media(max-width: $medium-breakpoint) {
    width: auto;
  }

  .profile-img__rounded {
    border-radius: $base-border-radius;
    box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
  }

  .card__project--title {
    margin: 0;
    text-align: center;
    background-color: white;
    padding: 5px 0;
    position: relative;
    top: -5px;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
    width: inherit;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    font-weight: 600;

    @media(max-width: $medium-breakpoint) {
      font-size: 0.85em;
      text-align: left;
    }
  }

  .card__project--trophy {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    @media(max-width: $medium-breakpoint) {
      margin-right: 5px;
    }
  }

  img {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    max-width: 300px;

    @media(max-width: $medium-breakpoint) {
      width: 100%;
    }
  }
}


@keyframes leftHalfEntrance {
  from {
    opacity: 0;
    transform: scale(0) translateY(0);
  }

  to {
    // translate: 0;
    opacity: 0.2;
    transform: scale(1) translateY(0);
  }
}

@keyframes rightHalfEntrance {
  from {
    opacity: 0;
    transform: scale(0) translateY(0);
  }

  to {
    opacity: 0.2;
    transform: scale(1) translateY(0);
    // transform: translateY(0);

    // translate: 0;
  }
}

@keyframes rotateEntrance {
  from {
    transform: scale(0.2);
  }

  to {
    opacity: 1;
    transform: rotate(0) scale(0.4);
    // rotate: 45deg;
  }
}

// @keyframes shapeFullEntrance {
//   from {
//     // scale: 0;
//     // rotate: 90deg;
//     opacity: 0;
//     // transform: scale(0) rotate(90deg);
//   }

//   to {
//     // scale: 0.6;
//     // rotate: 0deg;
//     opacity: 1;
//     // transform: scale(0) rotate(0deg);
//   }
// }


@keyframes shapeAppear {
  from {
    // scale: 0;
    // rotate: 90deg;
    transform: scale(0.24);
    opacity: 0;
    // transform: scale(0) rotate(90deg);
  }

  to {
    // scale: 0.6;
    // rotate: 0deg;
    transform: scale(0.5);
    opacity: 1;
    // transform: scale(0) rotate(0deg);
  }
}

@keyframes shapeFullRotate {
  from {
    transform: scale(0.5) rotate(0deg);
  }

  to {
    transform: scale(0.5) rotate(360deg);
  }
}

@keyframes profileImageEntrance {
  to {
    opacity: 1;
  }
}

@keyframes contentLeftAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes socialContainerAnimate {
  to {
    transform: translate(0);
    // translate: 0;
    opacity: 1;
  }
}

@keyframes separatorAnimate {
  from {
    opacity: 0;
    // transform: rotateY(90deg);
  }

  to {
    opacity: 1;
    // transform: rotateX(180deg);
  }
}

@keyframes iconPathsAnimate {
  to {
    opacity: 1;
  }
}

@keyframes footerUFOEntrance {
  0% {
    scale: 0.15;
    translate: 500px 10px;
    opacity: 0.7;
  }

  25% {
    translate: -250px 50px;
    scale: 0.15;
    opacity: 0.5;
  }

  50% {
    translate: 150px 100px;
    scale: 0.25;
  }

  75% {
    translate: -25px 100px;
    scale: 0.3;
  }

  100% {
    translate: 2px -10px;
    scale: 0.5;
  }
}

@keyframes shipGlowAnimation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes starGlow {
  0% {
    opacity: 0.15;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 0.15;
  }
}

@keyframes starMainAnimation {
  0% {
    transform: scale(.25);
    opacity: 0.75;
  }

  50% {
    transform: scale(.05);
    opacity: 0.5;

  }

  100% {
    transform: scale(.25);
    opacity: 0.75;
  }
}

@keyframes starSubAnimation {
  0% {
    transform: scale(0.015);
    opacity: 0.9;
  }

  50% {
    transform: scale(0.125);
    opacity: 0.25;
  }

  100% {
    transform: scale(0.015);
    opacity: .9;
  }
}


@keyframes starRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes starAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wrenchAnimateLeft {
  0% {
    // rotate: -90deg;
    transform: rotate(-90deg) translateX(-500px);
    // translate: 100px;
    opacity: 0;
  }

  20% {
    // transform: rotate(-45deg) translate(170px);
  }

  100% {
    // rotate: 0deg;
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}


@keyframes wrenchAnimateRight {
  from {
    // rotate: -90deg;
    transform: rotate(90deg);
    transform: rotate(-45deg) translateX(150px) scale(3);
    opacity: 0;
  }

  to {
    transform: rotate(0);
    transform: rotate(0deg) translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes wrenchLeftHover {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes cloudAppears {
  0% {
    transform: translateX(500px);
    // translate: 500px;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    // translate: 0;
  }
}

@keyframes sunRays {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// @keyframes sunRises {
//   0% {
//     transform: translate(-50px, 500px) scale(0);
//   }

//   100% {
//     transform: translate(0, 0) scale(1);
//     opacity: 1;
//   }
// }

@keyframes cloudLeaves {
  from {
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
  }
}

@keyframes portfolioAlienDrive {
  0% {
    opacity: 0.7;
  }

  20% {
    transform: translate(20vw, 0) scale(1);
    // translate: 20vw 0;
    // scale: 1;
  }

  70% {
    transform: translate(20vw, 0) scale(1);
    scale: 1;
    // translate: 20vw 0;
  }

  90% {
    transform: translate(20vw, 0) scale(15);
    // scale: 15;
    opacity: 1;
    // translate: 20vw 0;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes portfolioAlienEntrance {
  0% {
    opacity: 0.2;
    translate: 20vw 0;
    scale: 0.1;
  }

  20% {
    opacity: 0.4;
    translate: 0 0;
    scale: 0.4;
  }

  40% {}

  60% {}

  80% {
    translate: 1000px 100px;
  }

  100% {
    opacity: 1;
  }

}




@keyframes ringOneAnimation {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.025);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes ringTwoAnimation {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }

  50% {
    transform: scale(1.025);
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes ringThreeAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 0.4;
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes ringFourAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 0.5;
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ringFiveAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 0.6;
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes wholePlanetRotate {
  0% {

    opacity: .2;
    transform: scale(0.1) rotate(0deg);
  }

  20% {
    transform: scale(0.25) rotate(-30deg);
  }

  40% {
    opacity: 0.5;
    transform: scale(0.5) rotate(15deg);
  }

  70% {
    transform: scale(0.75) rotate(20deg);
  }

  75% {
    transform: scale(0.9) rotate(23deg);
    // transform: scale(0.75) rotate(20deg);
  }

  80% {
    transform: scale(0.65) rotate(20deg);
    
  }

  85% {
    transform: scale(1.2) rotate(23deg);
    // transform: scale(0.75) rotate(20deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(23deg);
  }
}

@keyframes planetRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes planetEntrance {
  from {
    transform: scale(0.25);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: scale(0.25)
  }
}

// @keyframes canvasFooterAppear {
//   from {
//     transform: translate(0);
//   }

//   to {
//     transform: translate(-400px);
//   }
// }