//Colors
$dk-blue: #182848;
$lt-gray: #f3f3f3;

$lt-blue-gradient: linear-gradient(200deg, #00D2FF 11%, #3A47D5 97%);
$lt-blue-gradient-background: linear-gradient(225deg, rgb(0, 210, 255) 20%, rgb(58, 71, 213) 100%);

$base-transition-speed: 0.6s ease-out;
$long-transition-speed: 1.0s ease-out;
$gradient-transition-speed: 20s ease-out;

$randomNumber: random(20);




@mixin for-mobile-device {
	@media (max-width: 500px) {
		@content;
	}
}

@mixin for-mobile-device-xl-up {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin for-xl-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: 3.5em;
	font-weight: 600;

	@include for-tablet-portrait-up {
		font-size: 2.5em
	}

	@include for-mobile-device-xl-up {
		font-size: 1.8em;
	}

	@include for-mobile-device {
		font-size: 1.75em;
	}
}

h2 {
	font-size: 1.7em;
	line-height: 1.5;

	@include for-tablet-portrait-up {
		font-size: 1.5em;
	}

	@include for-mobile-device-xl-up {
		font-size: 1.35em;
	}

	@include for-mobile-device {
		font-size: 1.25em;
	}
}

h3 {
	font-size: 1.25em;
	line-height: 1.5;
	opacity: 0.5;

	@include for-tablet-portrait-up {
		font-size: 1.2em;
	}

	@include for-mobile-device-xl-up {
		font-size: 1.25em;
	}

	@include for-mobile-device {
		font-size: 1em;
	}
}

h2,
h3 {
	margin-top: 30px;
}

.navbar-brand {
	color: rgb(58, 71, 213);
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	// font-weight: 600;
	text-transform: uppercase;

	&::before {
		color: rgb(0, 210, 255);
		content: "Armando.sx";
		// font-weight: 600;
		position: absolute;
		transform: translateX(1px) translateY(1px);
		z-index: -1;
	}
}

section {
	height: 100vh;
	position: relative;
	transition: 0.4s;
	display: flex;
	overflow: hidden;

	@include for-tablet-portrait-up {
		width: 100%;
	}
}

.section {
	&__one {

		&.section__blue {
			padding: 0;
		}

		h3 {
			font-weight: 600;
			opacity: 1;
		}
	}

	&__two-s {
		// margin-top: 1px;

		.f-container {
			@include for-mobile-device-xl-up {
				margin-top: 0;
			}
		}

		h3 {
			font-weight: 300;
			max-width: 70%;

			@include for-mobile-device-xl-up {
				max-width: 90%;
				margin: inherit auto;
				margin-top: 0;
			}
		}

		.main-content {
			display: flex;
			flex-wrap: wrap;
			order: -1;
			top: -100px
		}

		a {
			text-decoration: underline;
		}

		.secondary-content {
			order: 1;

			@include for-tablet-portrait-up {
				position: relative;
			}

			@include for-mobile-device-xl-up {
				order: -2;
				position: relative;
			}
		}

		&.yellow-section {
			background: radial-gradient(88.28% 88.28% at 50% 11.72%, #FFFBBC 18.28%, #FFAE36 59.83%, #E58425 86.54%);
			animation: circle-in-top-right 2s ease-out forwards;

			h1,
			h2,
			h3 {
				color: #343434;
			}

			[transition-style="in:circle:center"] {
				animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
			}

			// [transition-style="in:circle:hesitate"] {
			// 	animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
			// }
			@include for-mobile-device {

				[transition-style="in:circle:hesitate"] {
					animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
				}
			}
		}

		&.grow-icons {
			.emoji__containers {
				transition: 3s;
				transform: scale(6);
				z-index: 1;
			}

			// @include for-mobile-device {
			// 	font-size: 1.75em;
			// }
		}

		&.sleepy-icons {
			opacity: inherit;
		}
	}

	&__five-s {
		background: inherit;
	}

	&__three-s {
		color: inherit;
	}
}

.planet--craters {
	z-index: 9000;
}

.nav {
	padding-left: 5px;
	padding-right: 0;
	padding-top: 20px;
}

.secondary-content,
.main-content {
	z-index: 2;
}

.main-content {
	@include for-tablet-portrait-up {
		width: 100%;
	}
}


.section__one,
.section__three {
	.main-content {
		animation: fadeInLeft 1s;
		animation-fill-mode: forwards;
		opacity: 1;
		z-index: 5;
	}
}

.section__three h1,
.section__five h1,
.section__five-s h1 {
	color: $dk-blue;
}

.f-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: stretch;
	width: 1160px;
	margin: auto;
	// background: green;

	@include for-tablet-portrait-up {
		width: 100%;
		flex-direction: column;
	}
}

.f-child {
	align-self: flex-start;
	align-items: stretch;
	flex: 1;
	margin: 30px;
	width: 50%;
	
	position: relative;

	@include for-tablet-portrait-up {
		margin: 0 auto;
		width: 90%;

		&.o0 {
			order: 0;
		}
	
		&.o1 {
			order: 1;
		}
	
	}

	&.center {
		text-align: center;
	}

	.planet--full {
		max-width: 350px;
		width: 300px;
	}
}

.hero-background {
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// background: radial-gradient(76.69% 146.93% at 9.43% 49.98%, #88F7FF 0%, #66A6FE 100%);
}

.section__blue {
	background: $dk-blue;
	background: radial-gradient(38.26% 59.16% at 50% 50%, #26124D 52.71%, #150B3D 100%);
	color: white;
	padding: 30px 0;

	@include for-mobile-device-xl-up {
		// height: 100vh;
	}
}

.lt-blue-gradient {
	align-self: center;

	&::after {
		animation-fill-mode: forwards !important;
		content: "";
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		background-size: 150%;
		background-image: $lt-blue-gradient-background;
		animation: ltbluegradientAnim 0.7s ease-out;
	}
}

.btn__main {
	background: $dk-blue;
	border-radius: 6px;
	align-self: top;
	color: white;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 800;
	padding: 15px 20px;
	cursor: pointer;
	opacity: 0;

	animation: herobuttonAnim 1.5s 4s;
	animation-fill-mode: forwards;
	text-decoration: none;

	&:hover {
		transform: scale(1.2);
	}
}

.emoji__wave,
.emoji__briefcase {
	font-size: 100px;
	width: 100px;
	transition: 1s;

	@include for-mobile-device-xl-up {
		font-size: 72px;
	}
}

[class^='spin-'] {
	position: absolute;
	top: 40px;
	opacity: 0;
	width: 70px;
	transition: 1s;

	@include for-tablet-landscape-up {
		left: 0;
		right: 0;
		margin: 0 auto;
		font-size: 5px;
		opacity: 0.5;
	}
}

.emoji__containers {
	opacity: 0;
	position: absolute;
	height: 120px;
	top: -50px;
	right: 0;
	bottom: 0;
	width: 120px;
	margin: 0 auto;
	text-align: center;
	transition: 1s;
	transform: scale(1.4);

	animation: emojiContainerFade 2s ease-out infinite;

	@include for-tablet-landscape-up {
		left: 0;
		right: 0;
	}
}

.container__social-icons {
	animation-fill-mode: forwards;
	animation: fadeIn $base-transition-speed;
	margin: 0 auto;
	margin-left: 0;
	opacity: 0;

	@include for-mobile-device {
		width: 100%;
	}

	.button__circle {
		background: white;
		border-radius: 100%;
		border: 1px solid #cecece;
		display: inline-block;
		animation-fill-mode: forwards;
		opacity: 0;
		padding: 5px;
		margin: 5px 10px;
		transition: $base-transition-speed;
		position: relative;

		@include for-mobile-device {
			display: inline-block;
			margin: 0 auto;
			text-align: center;
			transition: 1s;
		}

		&:hover {
			transition: $base-transition-speed;
			transform: scale(1.2);
		}

		img {
			opacity: 1;

			@include for-tablet-landscape-up {
				position: relative;
				right: 30%;
				transition: 1s;
			}

			@include for-mobile-device {
				width: 50px;
			}
		}
	}
}

.container__prev-work {
	animation-fill-mode: forwards !important;
	border-radius: 15px;
	margin: 20px auto;
	text-align: center;
	transition: 0.4s;
	z-index: 5;

	&:first-child {
		@include for-tablet-portrait-up {
			margin-top: 50px;
		}
	}

	img {
		border: 1px solid transparent;
		border-radius: 15px;
		height: auto;
		transition: $base-transition-speed;
		width: 280px;

		@include for-tablet-portrait-up {
			width: 250px;
		}

		@include for-mobile-device {
			width: 90%;
		}
	}
}

.emoji__smiley-face {
	transform: scale(0);
}

.emoji__pointer {
	margin: auto;
	text-align: center;
	transform: translateY(100px);
	position: relative;
	width: 1px;
	// left: -60px;

	animation: emojiPointerAnim 1.5s ease-out forwards;

	@include for-mobile-device-xl-up {
		transform: translateY(-130px);
	}

	svg {
		// display: block !important;
		z-index: 300000;
	}

	#click {
		opacity: 1;
		// display: none;
		transform-origin: center;

		animation: emojiCursorClickAnim 0.5s 0.8s ease-out forwards;
	}

	#cursor-hand {
		display: block;
	}
}

// Animation Wrapper classes
// Animation Wrapper classes
// Animation Wrapper classes

.animated {

	.planet--full {
		opacity: 0;
		animation: planetEntrance 0.5s 1.25s ease-out forwards;
	}

	#planet--base {
		transform-origin: center;
		animation: planetBaseEntrance 10s 1.5s linear infinite;
	}

	.shape-white {
		animation: shapeWhiteAnimation 4s ease-out forwards;
	}

	.shape-blue {
		animation: shapeBlueAnimation 6s ease-out forwards;
	}

	#planet--craters {
		opacity: 0;
		width: 300px;
		height: 400px;
		transform-origin: center center;
		animation: planetCratersAnimation 2s 1.5s ease-out forwards;
	}

	#planet--moon-a,
	#planet--moon-b,
	#planet--moon-c,
	#planet--moon-d {
		cursor: pointer;
		z-index: 900;
	}

	circle {
		cursor: pointer;
	}

	#planet--rings {
		transform-origin: center center;
		opacity: 0;
		animation: planetRingsEntrance 0.5s 2s ease-out forwards, planetRingsAnimation 3s 2s ease-out infinite;
	}

	.space-background {
		// SMH Safari https://discourse.webflow.com/t/overflow-hidden-round-corners-not-working-on-safari/67805/4
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;

		opacity: 0;
		display: none;

		transform: translate3d(0, 0, 0);

		animation: spaceBackgroundExit 0.5s 1s ease-out forwards, spaceBackgroundEntrance 2s 2s ease-out forwards;
	}

	.hero__image--circle {
		@include for-tablet-portrait-up {
			bottom: 0px;
		}

		@include for-mobile-device {
			bottom: 300px;
			width: 300px;
			display: none !important;
		}
	}

	.emoji__wave--animation {
		animation: waveHand 1.5s 0.5s ease-in-out;
	}

	#undraw_connected_world {
		animation: fadeIn 1.5s ease-out;
	}

	#pins {
		opacity: 1;
	}

	.emoji__containers {
		left: -100px;
		top: -70px;
		opacity: 1;
		right: 0;
		position: absolute;

		@include for-tablet-landscape-up {
			left: 0;
			right: 0;
		}

		@include for-mobile-device-xl-up {
			top: 40px;
		}
	}

	.emoji__smiley-face {
		animation: emojiFaceAppear 1.5s ease-out;
		animation-direction: forwards;
		cursor: pointer;
		position: relative;
		// right: 50px;
		top: -150px;
		transform: scale(1);
		transform-origin: center;
		transform-style: preserve-3d;
		transition: $base-transition-speed;
		z-index: 2;

		svg {
			z-index: 3;
		}

		&:hover {
			transition: $base-transition-speed;
			// transform: scale(1.1);
		}

		@include for-tablet-portrait-up {
			left: 0;
			right: 0;
			text-align: center;
		}

		@include for-mobile-device {
			left: 0;
			right: 0;
			text-align: center;
			top: -40px;
		}

		@include for-mobile-device-xl-up {
			top: -30px;
			right: 0;
			left: 0;
		}


		svg {
			height: 180px;
			transform: scale(1.2);
			transition: $base-transition-speed;
			width: 300px;

			animation: emojiBounce 2s ease-out infinite;

			@include for-mobile-device {
				width: 80%;
			}

			@include for-tablet-landscape-up {
				left: 0;
				right: 0;
				// width: 100px;
			}

			&:hover {

				#left-eye,
				#right-eye {
					animation: eyebrowsRaise 1s ease-out infinite;
					transition: $base-transition-speed;
				}

				#mouth {
					// opacity: 0;
					color: inherit;
				}

				#lips-kiss {
					display: none;
				}

				#mouth-wow {
					opacity: 1;
				}
			}

			// BASE -- USED FOR RESET
			#left-eye,
			#right-eye,
			#mouth-wow,
			#lips-kiss {
				transform: scale(1);
				transition: $base-transition-speed;
			}

			#eyes--left-wink,
			#eyebrows {
				display: none;
			}

			#mouth-wow,
			#mouth-kiss #right-eye--dizzy,
			#right-eye--dizzy,
			#left-eye--dizzy,
			#eyes--mad,
			#mouth-smoke-puff,
			#eyes--stars,
			#teeth-top-row--no-bottom,
			#eyes--sleepy,
			#sleep-group {
				opacity: 0;
			}
		}

		&.wink {

			#eye-left,
			#left-eye,
			#eyes--mad,
			#mouth-wow,
			#mouth-smoke-puff,
			#right-eye {
				opacity: 0;
				display: none;
			}

			#eyes--left-wink,
			#eye-left {
				opacity: 1;
				display: inline;
			}

			#mouth {
				display: inline;
				transition: $base-transition-speed;
			}

			#eyebrows {
				display: inline;
				opacity: 1;
				z-index: 2;

				#eyebrow-left {
					animation: leftEyebrowRaise 5s ease-out infinite alternate-reverse;
				}

				#eyebrow-right {
					animation: eyebrowRaise 0.5s ease-out infinite alternate-reverse;
				}
			}
		}

		&.wow-spin {

			#right-eye--dizzy {
				animation: wowRightEyeSpin 1s ease-out forwards, wowRightEyeSpinExtra 2s 1s ease-out infinite;
				transform-origin: center center;
			}

			#left-eye--dizzy {
				animation: wowLeftEyeSpin 1s ease-out forwards, wowLeftEyeSpinExtra 2s 1s ease-out infinite;;
				transform-origin: center center;
			}

			#faces {
				opacity: 1;
			}

			#eyes {
				opacity: inherit;
			}

			#faces {
				animation: wowSpin 2s ease-out forwards;
				transform-origin: center;

				#mouth-wow {
					transition: $base-transition-speed;
					opacity: 1;
				}

				#bottom-row-teeth,
				#top-row-teeth,
				#left-eye,
				#eyes--sleepy,
				#sleep--group,
				#right-eye,
				#eyes--mad,
				#mouth-smoke-puff,
				#lips-kiss {
					opacity: 0;
					display: none;
				}
			}
		}

		&.lips-shake {
			animation: newEmojiShake 1s ease-in forwards;

			#eyes--mad,
			#mouth-smoke-puff,
			#mouth-wow {
				opacity: 0;
			}

			// #mouth {
			// 	opacity: 0 !important;
			// }

			// #mouth-wow {
			// 	opacity: 1!important;
			// }
			// #lips-kiss {
			// 	opacity: 1 !important;
			// }
		}

		&.sleepy-face {
			animation: sleepyFaceAnim 0.5s ease-out forwards !important;

			#top-row-teeth,
			#bottom-row-teeth,
			#lips-kiss,
			#left-eye,
			#eyes--mad,
			#mouth-smoke-puff,
			#right-eye {
				opacity: 0;
				display: none;
			}

			#eyes--sleepy,
			#sleep-group,
			#mouth-wow {
				opacity: 1;
			}

			#mouth-wow {
				animation: sleepGroupAnim 1s ease-out forwards;
			}

			#sleep-group {
				transform-origin: center;
				animation: sleepGroupAnim 3s ease-out infinite;

				#z-small {
					animation: sleepZAnim 1s ease-out infinite;
					transform-origin: center;
					opacity: 0;
				}

				#z-medium {
					animation: sleepZAnim 1s 1s ease-out infinite;
					transform-origin: center;
					opacity: 0;
				}

				#z-big {
					animation: sleepZAnim 1s 2s ease-out infinite;
					transform-origin: center;
					opacity: 0;
				}
			}


			#eyes--sleepy {
				animation: sleepyEyesAnim 3s ease-out infinite;
			}
		}

		&.star-face {
			#eyes--stars {
				// opacity: 1;
				transform-origin: center;
				transform: scale(0);
				animation: starEyesAnim 1s ease-out forwards;
			}

			#mouth-wow {
				opacity: 1;
			}

			// #teeth-top-row--no-bottom {
			// 	opacity: 1;
			// }

			#left-eye,
			#right-eye,
			#right-eye,
			#top-row-teeth,
			#eyes--mad,
			#mouth-smoke-puff,
			#bottom-row-teeth {
				opacity: 0;
				display: none;
			}

		}

		&.angry-face {
			#left-eye,
			#right-eye,
			#mouth-wow,
			#top-row-teeth,
			#bottom-row-teeth,
			#eyes--stars {
				opacity: 0;
				display: none;
			}

			#mouth-smoke-puff,
			#eyes--mad {
				opacity: 1;
			}

			#puff-balls-left,
			#puff-balls-right {
				transform-origin: center center;
				animation: puffBallAnimation 0.5s 0.75s ease-out forwards;
			}

			#puff-base-left,
			#puff-base-right {
				transform-origin: center center;
				animation: puffBaseAnimation 0.5s .5s ease-out forwards;
			}
		}

		#faces {
			animation: smileyNod 1.5s 1.5s ease-out;
			animation-iteration-count: 2;
		}

		#left-eye,
		#right-eye {
			animation: eyeAnim 1s 1.5s ease-out;
			transform: scale(1);
			transform-origin: bottom;
			transform: translateY(0);
		}

		#bottom-row-teeth {
			animation: bottomTeethAnim 1s 1.5s ease-out;
		}

		#lips-kiss {
			opacity: 0;
			display: none;
		}

		#puff-balls-left,
		#puff-balls-right,
		#puff-base-left,
		#puff-base-right {
			opacity: 0;
			transition: 2s;
		}


		&.emoji-new-emoji {
			// animation: newEmojiShake 1.5s ease-out!important;
			animation-direction: alternate-reverse;

			#mouth {
				opacity: 0;
			}

			#mouth-wow {
				opacity: 1;
			}

			&:hover {
				#mouth-wow {
					opacity: 1;
				}
			}
		}
	}


	//	Currently affects all main content
	.main-content {
		animation: fadeInLeft 1s ease-in-out;
	}

	.container__social-icons {
		opacity: 1;
	}

	.container__prev-work {
		animation: fadeInRight 2s;
		animation-direction: normal;
		animation-fill-mode: forwards !important;

		& img:hover {
			transform: scale(1.05);
		}
	}

	[class^='spin-'] {
		font-size: 60px;
		opacity: 1;

		@include for-tablet-portrait-up {
			left: 0;
			right: 0;
			font-size: 60px;
		}
	}

	.button__circle {
		display: inline-block;
		width: 40px;
		height: 40px;
		animation: fadeInUpSocialIcons ease-out $long-transition-speed;
		opacity: 1;

		img {
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			transition: $base-transition-speed;
			width: 22px;
			bottom: 0;
			right: 0;
			text-align: center;
			margin: 0 auto;
			opacity: 1;
		}
	}

	h2.fadeInUp {
		animation: fadeInUp 0.5s 0.5s ease-out;
		animation-fill-mode: forwards;
	}

	h3.fadeInUp {
		animation: fadeInUp 1s 0.75s ease-out;
		animation-fill-mode: forwards;
	}

	&.lt-blue-gradient__bottom::after {
		animation: ltbluegradientAnimBottom 0.7s ease-out;
		animation-fill-mode: forwards;
		content: "";
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background-image: $lt-blue-gradient-background;
		z-index: -1;
	}

	.button__circle {
		&:nth-child(1) {
			animation-delay: 0.4s;
			margin-left: 0;
		}

		:nth-child(2) {
			animation-delay: 0.5s;
		}

		:nth-child(3) {
			animation-delay: 0.6s;
		}

		:nth-child(4) {
			animation-delay: 0.7s;
		}

		:nth-child(5) {
			animation-delay: 0.8s;
		}
	}
}