* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em;
  }
}

h2 {
  font-size: 1.7em;
  line-height: 1.5;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 1.35em;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.25em;
  }
}

h3 {
  font-size: 1.25em;
  line-height: 1.5;
  opacity: 0.5;
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.2em;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 1.25em;
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: 1em;
  }
}

h2,
h3 {
  margin-top: 30px;
}

.navbar-brand {
  color: #3a47d5;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.navbar-brand::before {
  color: #00d2ff;
  content: "Armando.sx";
  position: absolute;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
  z-index: -1;
}

section {
  height: 100vh;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
}

.section__one.section__blue {
  padding: 0;
}

.section__one h3 {
  font-weight: 600;
  opacity: 1;
}

.section__two h3 {
  font-weight: 300;
  max-width: 70%;
}

@media (max-width: 575px) {
  .section__two h3 {
    max-width: 90%;
    margin: inherit auto;
  }
}

.section__two .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  top: -100px;
}

.section__two a {
  text-decoration: underline;
}

.section__two .secondary-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767px) {
  .section__two .secondary-content {
    position: relative;
  }
}

@media (max-width: 575px) {
  .section__two .secondary-content {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    position: relative;
  }
}

.section__two.yellow-section {
  background: radial-gradient(88.28% 88.28% at 50% 11.72%, #FFFBBC 18.28%, #FFAE36 59.83%, #E58425 86.54%);
  -webkit-animation: circle-in-top-right 2s ease-out forwards;
          animation: circle-in-top-right 2s ease-out forwards;
}

.section__two.yellow-section h1,
.section__two.yellow-section h2,
.section__two.yellow-section h3 {
  color: #343434;
}

.section__two.yellow-section [transition-style="in:circle:center"] {
  -webkit-animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
          animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
}

@media (max-width: 500px) {
  .section__two.yellow-section [transition-style="in:circle:hesitate"] {
    -webkit-animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
            animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
  }
}

.section__two.grow-icons .emoji__containers {
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transform: scale(6);
          transform: scale(6);
  z-index: -5;
}

.section__two.sleepy-icons {
  opacity: inherit;
}

@media (max-width: 575px) {
  .section__three {
    height: 100%;
  }
}

.section__three .row {
  width: 90%;
}

@media (max-width: 575px) {
  .section__three .row {
    margin: 0 auto;
    width: 100%;
  }
}

.section__four .world-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__four #pins {
  opacity: 0;
  -webkit-animation: fadeInDown 2s 1s ease-out;
          animation: fadeInDown 2s 1s ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.nav {
  padding-left: 5px;
  padding-right: 0;
  padding-top: 20px;
}

.secondary-content,
.main-content {
  z-index: 2;
}

.section__one .main-content,
.section__three .main-content {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 1;
  z-index: 5;
}

.section__three h1,
.section__five h1 {
  color: #182848;
}

.hero-background {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hero-background .hero__image--circle {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: guyEntry 2s;
          animation: guyEntry 2s;
  position: absolute;
  opacity: 0.5;
  bottom: 0;
  left: 35%;
}

.hero-background .hero__image--circle svg {
  height: 1200px;
  width: 1200px;
  -webkit-animation: rotateCircle 2.5s ease-in-out infinite;
          animation: rotateCircle 2.5s ease-in-out infinite;
}

.section__blue {
  background: #182848;
  color: white;
  padding: 30px 0;
}

.lt-blue-gradient {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.lt-blue-gradient::after {
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: 150%;
  background-image: linear-gradient(225deg, #00d2ff 20%, #3a47d5 100%);
  -webkit-animation: ltbluegradientAnim 0.7s ease-out;
          animation: ltbluegradientAnim 0.7s ease-out;
}

.btn__main {
  background: #182848;
  border-radius: 6px;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  color: white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 800;
  padding: 15px 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: herobuttonAnim 1.5s 4s;
          animation: herobuttonAnim 1.5s 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-decoration: none;
}

.btn__main:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.emoji__wave,
.emoji__briefcase {
  font-size: 100px;
  width: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 575px) {
  .emoji__wave,
  .emoji__briefcase {
    font-size: 72px;
  }
}

[class^='spin-'] {
  position: absolute;
  top: 40px;
  opacity: 0;
  width: 70px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 991px) {
  [class^='spin-'] {
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 5px;
    opacity: 0.5;
  }
}

.emoji__containers {
  opacity: 0;
  position: absolute;
  height: 120px;
  top: -50px;
  right: 0;
  bottom: 0;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-animation: emojiContainerFade 2s ease-out infinite;
          animation: emojiContainerFade 2s ease-out infinite;
}

@media (max-width: 575px) {
  .emoji__containers {
    left: 0;
    right: 0;
    top: -50px;
  }
}

@media (max-width: 1200px) {
  .emoji__containers {
    right: 60px;
  }
}

.container__social-icons {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: fadeIn 0.6s ease-out;
          animation: fadeIn 0.6s ease-out;
  margin: 0 auto;
  margin-left: 0;
  opacity: 0;
}

@media (max-width: 500px) {
  .container__social-icons {
    width: 100%;
  }
}

.container__social-icons .button__circle {
  background: white;
  border-radius: 100%;
  border: 1px solid #cecece;
  display: inline-block;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  padding: 5px;
  margin: 5px 10px;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  position: relative;
}

@media (max-width: 500px) {
  .container__social-icons .button__circle {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.container__social-icons .button__circle:hover {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container__social-icons .button__circle img {
  opacity: 1;
}

@media (max-width: 991px) {
  .container__social-icons .button__circle img {
    position: relative;
    right: 30%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 500px) {
  .container__social-icons .button__circle img {
    width: 50px;
  }
}

.container__prev-work {
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
  border-radius: 15px;
  margin: 20px auto;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 5;
}

@media (max-width: 767px) {
  .container__prev-work:first-child {
    margin-top: 50px;
  }
}

.container__prev-work img {
  border: 1px solid transparent;
  border-radius: 15px;
  height: auto;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  width: 280px;
}

@media (max-width: 767px) {
  .container__prev-work img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .container__prev-work img {
    width: 90%;
  }
}

.emoji__smiley-face {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.emoji__pointer {
  width: 30%;
  margin: auto;
  text-align: center;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  position: relative;
  z-index: 5000;
  -webkit-animation: emojiPointerAnim 1.5s ease-out forwards;
          animation: emojiPointerAnim 1.5s ease-out forwards;
}

@media (max-width: 575px) {
  .emoji__pointer {
    -webkit-transform: translateY(-130px);
            transform: translateY(-130px);
  }
}

.emoji__pointer svg {
  z-index: 3000 !important;
}

.emoji__pointer #click {
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: emojiCursorClickAnim 0.5s 0.8s ease-out forwards;
          animation: emojiCursorClickAnim 0.5s 0.8s ease-out forwards;
}

.emoji__pointer #cursor-hand {
  display: block;
}

@media (max-width: 767px) {
  .animated .hero__image--circle {
    bottom: 0px;
  }
}

@media (max-width: 500px) {
  .animated .hero__image--circle {
    bottom: 300px;
    width: 300px;
    display: none !important;
  }
}

.animated .emoji__wave--animation {
  -webkit-animation: waveHand 1.5s 0.5s ease-in-out;
          animation: waveHand 1.5s 0.5s ease-in-out;
}

.animated #undraw_connected_world {
  -webkit-animation: fadeIn 1.5s ease-out;
          animation: fadeIn 1.5s ease-out;
}

.animated #pins {
  opacity: 1;
}

.animated .emoji__containers {
  left: 0;
  opacity: 1;
  right: 0;
}

.animated .emoji__smiley-face {
  -webkit-animation: emojiFaceAppear 1.5s ease-out;
          animation: emojiFaceAppear 1.5s ease-out;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  cursor: pointer;
  position: relative;
  right: 50px;
  top: -150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  z-index: 1;
}

.animated .emoji__smiley-face:hover {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

@media (max-width: 767px) {
  .animated .emoji__smiley-face {
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .animated .emoji__smiley-face {
    left: 0;
    right: 0;
    text-align: center;
    top: -155px;
  }
}

@media (min-width: 1200px) {
  .animated .emoji__smiley-face {
    right: 80px;
  }
}

.animated .emoji__smiley-face.wink #eyes {
  opacity: 0;
}

.animated .emoji__smiley-face.wink #eyes--left-wink,
.animated .emoji__smiley-face.wink #eye-left {
  opacity: 1;
  display: inline;
}

.animated .emoji__smiley-face.wink #mouth {
  display: inline;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.animated .emoji__smiley-face.wink #eyebrows {
  display: inline;
  opacity: 1;
  z-index: 2;
}

.animated .emoji__smiley-face.wink #eyebrows #eyebrow-left {
  animation: leftEyebrowRaise 5s ease-out infinite alternate-reverse;
}

.animated .emoji__smiley-face.wink #eyebrows #eyebrow-right {
  animation: eyebrowRaise 0.5s ease-out infinite alternate-reverse;
}

.animated .emoji__smiley-face.wow-spin #right-eye--dizzy {
  -webkit-animation: wowRightEyeSpin 1s ease-out forwards;
          animation: wowRightEyeSpin 1s ease-out forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.animated .emoji__smiley-face.wow-spin #left-eye--dizzy {
  -webkit-animation: wowLeftEyeSpin 1s ease-out forwards;
          animation: wowLeftEyeSpin 1s ease-out forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.animated .emoji__smiley-face.wow-spin #faces {
  opacity: 1;
}

.animated .emoji__smiley-face.wow-spin #eyes {
  opacity: inherit;
}

.animated .emoji__smiley-face.wow-spin #faces {
  opacity: 0;
  -webkit-animation: wowSpin 2s ease-out forwards;
          animation: wowSpin 2s ease-out forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.animated .emoji__smiley-face.wow-spin #faces #mouth-wow {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  opacity: 1;
  z-index: 10;
}

.animated .emoji__smiley-face.wow-spin #faces #mouth,
.animated .emoji__smiley-face.wow-spin #faces #bottom-row-teeth,
.animated .emoji__smiley-face.wow-spin #faces #top-row-teeth,
.animated .emoji__smiley-face.wow-spin #faces #left-eye,
.animated .emoji__smiley-face.wow-spin #faces #eyes--sleepy,
.animated .emoji__smiley-face.wow-spin #faces #sleep--group,
.animated .emoji__smiley-face.wow-spin #faces #right-eye,
.animated .emoji__smiley-face.wow-spin #faces #lips-kiss {
  opacity: 0;
  display: none;
}

.animated .emoji__smiley-face.lips-shake {
  -webkit-animation: newEmojiShake 1s ease-in forwards;
          animation: newEmojiShake 1s ease-in forwards;
}

.animated .emoji__smiley-face.sleepy-face {
  -webkit-animation: sleepyFaceAnim 0.5s ease-out forwards !important;
          animation: sleepyFaceAnim 0.5s ease-out forwards !important;
}

.animated .emoji__smiley-face.sleepy-face #face,
.animated .emoji__smiley-face.sleepy-face #mouth,
.animated .emoji__smiley-face.sleepy-face #lips-kiss,
.animated .emoji__smiley-face.sleepy-face #eyes {
  opacity: 0;
}

.animated .emoji__smiley-face.sleepy-face #eyes--sleepy,
.animated .emoji__smiley-face.sleepy-face #sleep-group,
.animated .emoji__smiley-face.sleepy-face #mouth-wow {
  opacity: 1;
}

.animated .emoji__smiley-face.sleepy-face #mouth-wow {
  -webkit-animation: sleepGroupAnim 1s ease-out forwards;
          animation: sleepGroupAnim 1s ease-out forwards;
}

.animated .emoji__smiley-face.sleepy-face #sleep-group {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: sleepGroupAnim 3s ease-out infinite;
          animation: sleepGroupAnim 3s ease-out infinite;
}

.animated .emoji__smiley-face.sleepy-face #sleep-group #z-small {
  -webkit-animation: sleepZAnim 1s ease-out infinite;
          animation: sleepZAnim 1s ease-out infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

.animated .emoji__smiley-face.sleepy-face #sleep-group #z-medium {
  -webkit-animation: sleepZAnim 1s 1s ease-out infinite;
          animation: sleepZAnim 1s 1s ease-out infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

.animated .emoji__smiley-face.sleepy-face #sleep-group #z-big {
  -webkit-animation: sleepZAnim 1s 2s ease-out infinite;
          animation: sleepZAnim 1s 2s ease-out infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
}

.animated .emoji__smiley-face.sleepy-face #eyes--sleepy {
  -webkit-animation: sleepyEyesAnim 3s ease-out infinite;
          animation: sleepyEyesAnim 3s ease-out infinite;
}

.animated .emoji__smiley-face svg {
  height: 180px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  width: 115px;
  -webkit-animation: emojiBounce 2s ease-out infinite;
          animation: emojiBounce 2s ease-out infinite;
}

@media (max-width: 500px) {
  .animated .emoji__smiley-face svg {
    width: 90px;
  }
}

@media (max-width: 991px) {
  .animated .emoji__smiley-face svg {
    left: 0;
    right: 0;
    width: 100px;
  }
}

.animated .emoji__smiley-face svg:hover #left-eye,
.animated .emoji__smiley-face svg:hover #right-eye {
  -webkit-animation: eyebrowsRaise 1s ease-out infinite;
          animation: eyebrowsRaise 1s ease-out infinite;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.animated .emoji__smiley-face svg:hover #mouth {
  opacity: 0;
  background: inherit;
}

.animated .emoji__smiley-face svg:hover #lips-kiss {
  display: none;
}

.animated .emoji__smiley-face svg:hover #mouth-wow {
  opacity: 1;
}

.animated .emoji__smiley-face svg #left-eye,
.animated .emoji__smiley-face svg #right-eye,
.animated .emoji__smiley-face svg #mouth-wow,
.animated .emoji__smiley-face svg #lips-kiss {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.animated .emoji__smiley-face svg #eyes--left-wink,
.animated .emoji__smiley-face svg #eyebrows {
  display: none;
}

.animated .emoji__smiley-face svg #mouth-wow,
.animated .emoji__smiley-face svg #mouth-kiss,
.animated .emoji__smiley-face svg #right-eye--dizzy,
.animated .emoji__smiley-face svg #left-eye--dizzy {
  opacity: 0;
}

.animated .emoji__smiley-face #faces {
  -webkit-animation: smileyNod 1.5s 1.5s ease-out;
          animation: smileyNod 1.5s 1.5s ease-out;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.animated .emoji__smiley-face #left-eye,
.animated .emoji__smiley-face #right-eye {
  -webkit-animation: eyeAnim 1s 1.5s ease-out;
          animation: eyeAnim 1s 1.5s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animated .emoji__smiley-face #bottom-row-teeth {
  -webkit-animation: bottomTeethAnim 1s 1.5s ease-out;
          animation: bottomTeethAnim 1s 1.5s ease-out;
}

.animated .emoji__smiley-face #lips-kiss {
  opacity: 0;
  display: none;
}

.animated .emoji__smiley-face.emoji-new-emoji {
  animation-direction: alternate-reverse;
}

.animated .emoji__smiley-face.emoji-new-emoji #mouth {
  opacity: 0;
}

.animated .emoji__smiley-face.emoji-new-emoji #mouth-wow {
  opacity: 1;
}

.animated .emoji__smiley-face.emoji-new-emoji:hover #mouth-wow {
  opacity: 1;
}

.animated #eyes--sleepy,
.animated #sleep-group {
  opacity: 0;
}

.animated .main-content {
  -webkit-animation: fadeInLeft 1s ease-in-out;
          animation: fadeInLeft 1s ease-in-out;
}

.animated .container__social-icons {
  opacity: 1;
}

.animated .container__prev-work {
  -webkit-animation: fadeInRight 2s;
          animation: fadeInRight 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.animated .container__prev-work img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.animated [class^='spin-'] {
  font-size: 60px;
  opacity: 1;
}

@media (max-width: 767px) {
  .animated [class^='spin-'] {
    left: 0;
    right: 0;
    font-size: 60px;
  }
}

.animated .button__circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-animation: fadeInUpSocialIcons ease-out 1s ease-out;
          animation: fadeInUpSocialIcons ease-out 1s ease-out;
  opacity: 1;
}

.animated .button__circle img {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  width: 22px;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  opacity: 1;
}

.animated h2.fadeInUp {
  -webkit-animation: fadeInUp 0.5s 0.5s ease-out;
          animation: fadeInUp 0.5s 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animated h3.fadeInUp {
  -webkit-animation: fadeInUp 1s 0.75s ease-out;
          animation: fadeInUp 1s 0.75s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animated.lt-blue-gradient__bottom::after {
  -webkit-animation: ltbluegradientAnimBottom 0.7s ease-out;
          animation: ltbluegradientAnimBottom 0.7s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(225deg, #00d2ff 20%, #3a47d5 100%);
}

.animated .button__circle:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-left: 0;
}

.animated .button__circle :nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.animated .button__circle :nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animated .button__circle :nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.animated .button__circle :nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
/*# sourceMappingURL=styles.css.map */