html {
  background: inherit;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

section {
  height: 50vh;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 991px) {
  section .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}
section p {
  line-height: 1.75;
}
@media (max-width: 991px) {
  section p {
    font-size: 1em;
  }
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  margin: 10px 0;
}
@media (max-width: 991px) {
  h1 {
    font-size: 2em;
  }
}

.container {
  width: clamp(90%, 100px, 1200px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__cta {
  background: linear-gradient(95.08deg, #D6F15B 11.05%, #69B75D 60.58%);
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 4px #121212;
          box-shadow: 0 2px 4px #121212;
  color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 800;
  padding: 15px 20px;
  text-decoration: none;
  width: 220px;
  margin: 0;
  background: linear-gradient(92.98deg, #D6F15B 21.64%, #69B75D 189.75%);
  -webkit-box-shadow: 0px 1px 1px #000000;
          box-shadow: 0px 1px 1px #000000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.content__cta:hover {
  scale: 1.025;
}
@media (max-width: 991px) {
  .content__cta {
    margin: 0 auto;
  }
}
.content__cta--alt {
  background: white;
  color: #121212;
  -webkit-box-shadow: 0px 1px 1px #8ea03d;
          box-shadow: 0px 1px 1px #8ea03d;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .content__cta--alt {
    margin-left: 0;
  }
}

@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (not (-apple-color-filter: none)) {
    #left-half,
    #right-half {
      display: none;
    }
  }
}
.content__cta--emoji {
  color: linear-gradient(95.08deg, #D6F15B 11.05%, #69B75D 60.58%);
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  scale: 1.25;
}

.content__left--button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .content__left--button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .content__left--button-container a {
    margin: 10px 0;
  }
}

.profile-container {
  cursor: pointer;
}
.profile-container .profile-img {
  position: absolute;
  width: 200px;
  border-radius: 150px;
  height: auto;
  opacity: 0;
  -webkit-animation: profileImageEntrance 0.5s 0.75s ease-out forwards;
          animation: profileImageEntrance 0.5s 0.75s ease-out forwards;
}
@media (max-width: 991px) {
  .profile-container .profile-img {
    width: 80%;
    height: auto;
    margin: 20px auto;
  }
}

.section__gradient {
  background: linear-gradient(135deg, #7650F2, rgba(255, 0, 0, 0) 25%), linear-gradient(45deg, #59EBF9, rgba(0, 255, 0, 0) 70.1%), linear-gradient(180deg, #EC6351, rgba(0, 0, 255, 0) 50.71%), linear-gradient(270deg, #7E82ED, rgba(0, 0, 255, 0) 80.71%);
}

.shape-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  width: inherit;
}
.shape-container svg {
  position: absolute;
}
@media (max-width: 991px) {
  .shape-container svg {
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
  }
}
.shape-container .shape__full path {
  fill: url(#gradient);
}
.shape-container #left-half,
.shape-container #right-half,
.shape-container #shape__full--path {
  scale: 0.5;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.shape-container .shape__halves {
  -webkit-animation: rotateEntrance 0.5s 0.5s ease-out forwards;
          animation: rotateEntrance 0.5s 0.5s ease-out forwards;
}
.shape-container #left-half {
  rotate: 135deg;
  translate: 500px 500px;
  -webkit-animation: leftHalfEntrance 0.5s ease-out forwards;
          animation: leftHalfEntrance 0.5s ease-out forwards;
}
.shape-container #right-half {
  rotate: 135deg;
  translate: -500px -500px;
  -webkit-animation: rightHalfEntrance 0.5s ease-out forwards;
          animation: rightHalfEntrance 0.5s ease-out forwards;
}
.shape-container #shape__full--path {
  opacity: 0;
  -webkit-animation: shapeFullEntrance 0.5s 0.5s ease-out forwards, shapeFullRotate 125s 1s ease-out forwards infinite;
          animation: shapeFullEntrance 0.5s 0.5s ease-out forwards, shapeFullRotate 125s 1s ease-out forwards infinite;
}

.section__hero {
  z-index: 5;
}
.section__hero .container {
  height: 100vh;
}
@media (max-width: 991px) {
  .section__hero .container {
    height: 100%;
    padding: 50px 0;
  }
}
.section__hero .content {
  display: contents;
  position: relative;
  z-index: 5;
}
.section__hero .content__left {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  opacity: 0;
}
@media (max-width: 991px) {
  .section__hero .content__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    text-align: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section__hero .content__right {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}
@media (max-width: 991px) {
  .section__hero .content__right {
    width: 100%;
  }
}
.section__hero p {
  margin: 10px 0;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .section__hero .profile-img {
    max-width: 50%;
    width: 40%;
  }
}
.section__hero.animate .content__left {
  -webkit-animation: contentLeftAppear 0.5s 0.5s ease-out forwards;
          animation: contentLeftAppear 0.5s 0.5s ease-out forwards;
}
.section__portfolio {
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  height: 90vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
  z-index: 3;
}
.section__portfolio .container {
  padding: 20px 0;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}
.section__portfolio .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .section__portfolio .content {
    padding-bottom: 80px;
  }
}
.section__portfolio .content__left {
  opacity: 0;
  width: 50%;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .section__portfolio .content__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}
.section__portfolio .content__right {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}
@media (max-width: 991px) {
  .section__portfolio .content__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section__portfolio .content__right .column__left,
.section__portfolio .content__right .column__right {
  translate: 0 0;
  -webkit-transition: 0.5s 0.25s;
  transition: 0.5s 0.25s;
}
.section__portfolio .background--portfolio {
  position: absolute;
  translate: 0 -500px;
  width: 100%;
  scale: 2;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}
.section__portfolio .background--portfolio path {
  fill: url(#portfolio-gradient);
  -webkit-transition: 1s;
  transition: 1s;
  scale: 3;
}
.section__portfolio.animate .background--portfolio {
  translate: 0 100px;
}
@media (max-width: 991px) {
  .section__portfolio.animate .background--portfolio {
    translate: 0 -100px;
  }
}
.section__portfolio.animate .background--portfolio path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scale: 2;
  position: absolute;
  translate: -4000px;
}
.section__portfolio.animate .content__left {
  -webkit-animation: contentLeftAppear 0.5s 0.5s ease-out forwards;
          animation: contentLeftAppear 0.5s 0.5s ease-out forwards;
}
.section__portfolio.animate .content__right {
  margin-bottom: 40px;
}
.section__portfolio.animate .column__left {
  translate: 0 25px;
}
.section__portfolio.animate .column__right {
  translate: 0 -25px;
}
.section__about-me {
  position: relative;
  height: 100%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  z-index: 5;
}
@media (max-width: 991px) {
  .section__about-me {
    padding: 100px 0;
  }
}
.section__about-me .dancer {
  width: 200px;
  height: auto;
}
.section__about-me .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 150px;
  height: 150px;
  position: absolute;
  width: 100%;
}
@media (max-width: 991px) {
  .section__about-me .content {
    display: block;
  }
}
.section__about-me h1 {
  letter-spacing: -0.03em;
  background: #D6F15B;
  background: -webkit-gradient(linear, left top, right top, from(#D6F15B), to(#69B75D));
  background: linear-gradient(to right, #D6F15B 0%, #69B75D 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 991px) {
  .section__about-me h1 {
    text-align: center;
  }
}
.section__about-me h1::before {
  content: "";
}
.section__about-me .about__img {
  width: 200px;
  height: auto;
  border-radius: 100%;
}
@media (max-width: 991px) {
  .section__about-me .about__img {
    max-width: 50%;
    width: 40%;
  }
}
.section__about-me .container {
  position: absolute;
  right: 0;
  left: 0;
}
.section__about-me #base-angled-background {
  fill: #F4F9FB;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section__about-me .svg__about--background {
  position: absolute;
  z-index: -1;
  width: 100%;
  scale: 1.5;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .section__about-me .svg__about--background {
    scale: 3;
    margin-top: 180px;
    translate: 54%;
  }
}
.section__about-me .svg__about--background rect {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.section__about-me .svg__about--background.activated {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section__about-me .svg__about--background.activated .moon--behind {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section__about-me .svg__about--background.activated .moon--behind circle {
  fill: #69B75D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  scale: 1;
}
.section__about-me .svg__about--background.activated .svg__about--ufo-back {
  display: none;
}
.section__about-me .svg__about--background.activated .svg__about--ufo-front {
  display: block;
  -webkit-animation: frontUFOLeave 2.5s ease-out forwards;
          animation: frontUFOLeave 2.5s ease-out forwards;
}
.section__about-me .about__img {
  max-width: 520px;
  height: auto;
}
.section__about-me .content__left {
  opacity: 0;
  -webkit-animation: appear 0.5s 0.5s ease-out forwards;
          animation: appear 0.5s 0.5s ease-out forwards;
  height: inherit;
}
.section__about-me .svg__about--ufo-front {
  display: none;
}
.section__about-me .moon--behind circle {
  opacity: 0.25;
  scale: 1;
  translate: 100px;
  -webkit-transition: 5s;
  transition: 5s;
}
.section__about-me.animate .svg__about--background rect {
  opacity: 1;
  fill: #1E1E1E;
}
.section__about-me.animate .moon--behind circle {
  opacity: 1;
}
.section__about-me.animate .content__left {
  -webkit-animation: contentLeftAppear 0.5s 2.25s ease-out forwards;
          animation: contentLeftAppear 0.5s 2.25s ease-out forwards;
}
.section__about-me.animate .svg__about--ufo-back {
  scale: 0.5;
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: aboutSectionUFOTranslateOne 2s 0.5s ease-out forwards, aboutSectionUFOPulse 3s 2.5s ease-out infinite;
          animation: aboutSectionUFOTranslateOne 2s 0.5s ease-out forwards, aboutSectionUFOPulse 3s 2.5s ease-out infinite;
}
.section__footer {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  height: auto;
  background: black;
  z-index: 10;
  padding: 50px 0;
  overflow: hidden;
}
.section__footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  color: white;
}
.section__footer .content {
  text-align: center;
}
.section__footer h1,
.section__footer p {
  text-align: center;
}
.section__footer p {
  margin: 10px auto;
  text-align: left;
  max-width: 600px;
}
@media (max-width: 991px) {
  .section__footer p {
    text-align: center;
  }
}
.section__footer .moon-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.section__footer .moon-container svg {
  cursor: pointer;
}
.section__footer .moon--full {
  height: 100%;
  width: 200px;
  scale: 0;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 0;
  cursor: pointer !important;
}
.section__footer .ufo--moon {
  scale: 0.15;
  translate: 1000px 0;
}
.section__footer .ufo--moon path {
  fill: #101010;
}
.section__footer .social__container {
  padding: 0;
  translate: 0 150px;
  opacity: 0;
}
.section__footer .social__container a {
  text-decoration: none;
}
.section__footer .social__container svg {
  margin: 5px 10px;
  height: auto;
  width: 45px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: appear 0.5s 0.5s ease-out forwards;
          animation: appear 0.5s 0.5s ease-out forwards;
}
.section__footer .social__container svg .icon-path {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: rgba(214, 241, 91, 0.4666666667);
  scale: 0.85;
}
.section__footer .social__container svg:hover {
  scale: 1.15;
}
.section__footer .social__container svg:hover .icon-path {
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
  scale: 1;
  fill: #D6F15B;
}
.section__footer .separator {
  height: 1px;
  width: 90%;
  max-width: 600px;
  margin: 20px auto 30px;
  background: linear-gradient(95.08deg, #D6F15B 11.05%, #69B75D 60.58%);
  opacity: 0;
  rotate: y 90deg;
}
.section__footer.animate .moon--full {
  -webkit-animation: moonAnimate 1s ease-in-out forwards;
          animation: moonAnimate 1s ease-in-out forwards;
}
.section__footer.animate .social__container {
  -webkit-animation: socialContainerAnimate 1s ease-out forwards;
          animation: socialContainerAnimate 1s ease-out forwards;
}
.section__footer.animate .social__container svg {
  -webkit-animation: socialContainerAnimate 1s ease-out forwards;
          animation: socialContainerAnimate 1s ease-out forwards;
}
.section__footer.animate .ufo--moon {
  -webkit-animation: footerUFOEntrance 10s 1s ease-out forwards;
          animation: footerUFOEntrance 10s 1s ease-out forwards;
  scale: 0.15;
}
.section__footer.animate .separator {
  -webkit-animation: separatorAnimate 1s 0.75s ease forwards;
          animation: separatorAnimate 1s 0.75s ease forwards;
}
.section__footer.animate .icon-path {
  opacity: 0;
  -webkit-animation: iconPathsAnimate 1s 1s ease forwards;
          animation: iconPathsAnimate 1s 1s ease forwards;
}

.section__hero,
.section__about,
.section__portfolio,
.section__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .section__hero,
  .section__about,
  .section__portfolio,
  .section__footer {
    height: 100%;
    padding: 50px 0;
  }
}

.content__left,
.content__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .content__left,
  .content__right {
    width: 100%;
    height: auto;
  }
}

.content__left {
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991px) {
  .content__left {
    margin-left: 0;
    margin-right: 0;
  }
}

.content__right {
  margin-left: 20px;
}
@media (max-width: 991px) {
  .content__right {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.past-work .column__left img,
.past-work .column__right img {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.past-work a {
  text-decoration: none;
  color: #121212;
}

@media (max-width: 991px) {
  .past-work .content__left p {
    margin-bottom: 30px;
  }
}

.card__project {
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .card__project {
    width: auto;
  }
}
.card__project .profile-img__rounded {
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
          box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
}
.card__project .card__project--title {
  margin: 0;
  text-align: center;
  background-color: white;
  padding: 5px 0;
  position: relative;
  top: -5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
          box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.289);
  width: inherit;
}
.card__project h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 5px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .card__project h3 {
    font-size: 0.85em;
    text-align: left;
  }
}
.card__project .card__project--trophy {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
@media (max-width: 991px) {
  .card__project .card__project--trophy {
    margin-right: 5px;
  }
}
.card__project img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 300px;
}
@media (max-width: 991px) {
  .card__project img {
    width: 100%;
  }
}

@-webkit-keyframes leftHalfEntrance {
  to {
    translate: 0;
  }
}

@keyframes leftHalfEntrance {
  to {
    translate: 0;
  }
}
@-webkit-keyframes rightHalfEntrance {
  to {
    translate: 0;
  }
}
@keyframes rightHalfEntrance {
  to {
    translate: 0;
  }
}
@-webkit-keyframes rotateEntrance {
  to {
    rotate: 45deg;
  }
}
@keyframes rotateEntrance {
  to {
    rotate: 45deg;
  }
}
@-webkit-keyframes shapeFullEntrance {
  from {
    scale: 0;
    rotate: 90deg;
    opacity: 0;
  }
  to {
    scale: 0.6;
    rotate: 0deg;
    opacity: 1;
  }
}
@keyframes shapeFullEntrance {
  from {
    scale: 0;
    rotate: 90deg;
    opacity: 0;
  }
  to {
    scale: 0.6;
    rotate: 0deg;
    opacity: 1;
  }
}
@-webkit-keyframes shapeFullRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes shapeFullRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@-webkit-keyframes profileImageEntrance {
  to {
    opacity: 1;
  }
}
@keyframes profileImageEntrance {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes contentLeftAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes contentLeftAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes aboutSectionUFOTranslate {
  30% {
    translate: 350px;
    scale: 1.2;
  }
  60% {
    translate: -350px 50px;
    scale: 1.35;
  }
  90% {
    translate: 350px 90px;
    scale: 1.4;
    opacity: 1;
  }
  95% {
    scale: 0.5;
    translate: 250px -40px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes aboutSectionUFOTranslate {
  30% {
    translate: 350px;
    scale: 1.2;
  }
  60% {
    translate: -350px 50px;
    scale: 1.35;
  }
  90% {
    translate: 350px 90px;
    scale: 1.4;
    opacity: 1;
  }
  95% {
    scale: 0.5;
    translate: 250px -40px;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes aboutSectionUFOTranslateOne {
  0% {
    opacity: 0.2;
    scale: 2;
    translate: 700px -50px;
    rotate: 0deg;
  }
  90% {
    opacity: 0.8;
    scale: 0.8;
    translate: 80px -5px;
    rotate: -1deg;
  }
  100% {
    opacity: 0.2;
    scale: 0.28;
  }
}
@keyframes aboutSectionUFOTranslateOne {
  0% {
    opacity: 0.2;
    scale: 2;
    translate: 700px -50px;
    rotate: 0deg;
  }
  90% {
    opacity: 0.8;
    scale: 0.8;
    translate: 80px -5px;
    rotate: -1deg;
  }
  100% {
    opacity: 0.2;
    scale: 0.28;
  }
}
@-webkit-keyframes aboutSectionUFOTranslateTwo {
  0% {
    translate: 80px -5px;
    opacity: 1;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -145px;
    rotate: 0deg;
  }
}
@keyframes aboutSectionUFOTranslateTwo {
  0% {
    translate: 80px -5px;
    opacity: 1;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -145px;
    rotate: 0deg;
  }
}
@-webkit-keyframes aboutSectionUFOPulse {
  0% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -140px;
  }
  50% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -145px;
    rotate: 0deg;
  }
  100% {
    opacity: 1;
    translate: 130px -140px;
    scale: 0.78;
  }
}
@keyframes aboutSectionUFOPulse {
  0% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -140px;
  }
  50% {
    opacity: 1;
    scale: 0.78;
    translate: 130px -145px;
    rotate: 0deg;
  }
  100% {
    opacity: 1;
    translate: 130px -140px;
    scale: 0.78;
  }
}
@-webkit-keyframes frontUFOLeave {
  from {
    opacity: 1;
    translate: 277px -12px;
    scale: 0.78;
  }
  to {
    opacity: 1;
    translate: 3000px -142px;
    scale: 0.85;
  }
}
@keyframes frontUFOLeave {
  from {
    opacity: 1;
    translate: 277px -12px;
    scale: 0.78;
  }
  to {
    opacity: 1;
    translate: 3000px -142px;
    scale: 0.85;
  }
}
@-webkit-keyframes aboutSectionUFOTranslateThree {
  from {
    scale: 1.2;
  }
  to {
    translate: -350px;
    scale: 2;
  }
}
@keyframes aboutSectionUFOTranslateThree {
  from {
    scale: 1.2;
  }
  to {
    translate: -350px;
    scale: 2;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes socialContainerAnimate {
  to {
    translate: 0;
    opacity: 1;
  }
}
@keyframes socialContainerAnimate {
  to {
    translate: 0;
    opacity: 1;
  }
}
@-webkit-keyframes moonAnimate {
  to {
    scale: 1;
    opacity: 0.3;
  }
}
@keyframes moonAnimate {
  to {
    scale: 1;
    opacity: 0.3;
  }
}
@-webkit-keyframes separatorAnimate {
  to {
    opacity: 1;
    rotate: y 180deg;
  }
}
@keyframes separatorAnimate {
  to {
    opacity: 1;
    rotate: y 180deg;
  }
}
@-webkit-keyframes moonRises {
  0% {
    scale: 0;
    opacity: 0;
    scale: 30;
  }
  10% {
    opacity: 0;
    translate: 50px 0;
  }
  100% {
    scale: 1;
    translate: 100px 0;
    opacity: 1;
  }
}
@keyframes moonRises {
  0% {
    scale: 0;
    opacity: 0;
    scale: 30;
  }
  10% {
    opacity: 0;
    translate: 50px 0;
  }
  100% {
    scale: 1;
    translate: 100px 0;
    opacity: 1;
  }
}
@-webkit-keyframes iconPathsAnimate {
  to {
    opacity: 1;
  }
}
@keyframes iconPathsAnimate {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes footerUFOEntrance {
  0% {
    scale: 0.15;
    translate: 500px 10px;
    opacity: 0.7;
  }
  25% {
    translate: -250px 50px;
    scale: 0.15;
    opacity: 0.5;
  }
  50% {
    translate: 150px 100px;
    scale: 0.25;
  }
  75% {
    translate: -25px 100px;
    scale: 0.3;
  }
  100% {
    translate: 250px 65px;
    scale: 0.5;
  }
}
@keyframes footerUFOEntrance {
  0% {
    scale: 0.15;
    translate: 500px 10px;
    opacity: 0.7;
  }
  25% {
    translate: -250px 50px;
    scale: 0.15;
    opacity: 0.5;
  }
  50% {
    translate: 150px 100px;
    scale: 0.25;
  }
  75% {
    translate: -25px 100px;
    scale: 0.3;
  }
  100% {
    translate: 250px 65px;
    scale: 0.5;
  }
}/*# sourceMappingURL=styles.css.map */