body {
  font-family: 'Open sans';
}

nav {
  background: #363636;
}

.red {
  background: red;
}
.blue {
  background: blue;
}

.white {
  color: white;
}

.navbar {
  padding: 30px 0;
  border-radius: 0;
}

.ziero-financial-logo {
  width: 240px;
  margin-top: -30px;
}

.account-name {
  display: inline-block;
  font-size: 20px;
  color: white;
}

.profile-img {
  border-radius: 120px;
  height: 60px;
  display: inline-block;
  width: 60px;
}

.sidebar {
  background: #f7f7f7;
  position: absolute;
  top: 123px;
  bottom: 0;
  /*border: 3px solid #e5e5e5;*/
}
.sidebar ul {
  padding-left: 0;
}

.sidebar ul li{
  list-style-type: none;
  background: #f7f7f7;
  border: 4px solid #f2f2f2;
  padding: 20px;
  -webkit-transition: .6s;
  transition: .6s;
}

.sidebar ul li.active {
  background: #2cd9dd;
  border:0;
}

.sidebar ul li.active a {
  color: white;
}

.sidebar ul li.active i  {
  color: white;
}

.sidebar ul li:hover {
  background: #f0f0f0;

}

.sidebar ul a {
  color: #4c4c4c;
  text-decoration: none;
}

.sidebar ul span {
  text-align: center;
  display: block;
  font-size: 25px;
  margin-top: -10px;
  font-weight: 500;
}

.sidebar a i {
  display: block;
  font-size: 55px;
  text-align: center;
  color: #2cd9dd;

}

.main-btn {
  background: #2cd9dd;
  display: inline-block;
  padding: 20px 80px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
}


.gray-row {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 40px 20px;
}
.gray-row h2 {
  margin-top: 0;
  text-indent: 27px;
}
.gray-row p {
  text-indent: 60px;
  font-size: 18px;
  margin: 15px 0;
}
.gray-row .main-btn {
  margin-left: 60px;
  margin-top: 10px;
  text-decoration: none;
}

.table-content .top-row {
  background: #f7f7f7;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 2px solid #f3f3f3;
}

.table-content .row {
  font-size: 20px;
  padding: 12px 0;
  color: black;
  width: 100%;
  margin: 0 auto;
  text-indent: 30px;
}

.table-content .row:nth-child(odd) {
  background: #f7f7f7;
}

/*.perks-row {
  background: blue;
}*/

.perks-row h2 {
  text-indent: 45px;
  margin: 80px 0 30px 0;;
}

.main-content {
  margin-top: 25px;
  margin-bottom: 50px;
}
.content-window {
  background: blue;
  width: 80%;
  right: 20px;
  position: absolute;
  z-index: 0;
}

.content-window .container {
  position: absolute;
  left:0;
}
.main-content i.fa-calendar {
  margin-right: 20px;
}
